#discovery-title {
  font-size: 3rem;
  margin: 0 auto;
  padding: 2rem;
}

//
.tooltip-inner {
  color: white;
  background-color: rgba(100,100,100,0.5);
  padding: 10px;
  border-radius: 5px;
}

#database-search-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  @media (min-width: 767px) and (max-width: 1023px) {
    width: 90%;
    flex-direction: column;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }

  #discovery-table {
    align-self: center;
    margin: 0 auto;
    font-size: 2rem;
  }

  #filtersContainer {
    width: 80vw;
    margin: 0 auto 2rem;
    border-style: groove;
    text-align: left;
    padding-bottom: 2rem;
    vertical-align: middle;
    @media (min-width: 767px) and (max-width: 1023px) {
      width: 80vw;
    }
    @media (min-width: 1024px) {
      width: 27vw;
    }

    p {
      font-size: 2rem;
      padding-left: 2rem;
    }

    #filtersHeader {
      display: flex;
      justify-content: space-between;

      div {
        margin: 10px 2rem 0 0;
      }
    }

    .filters {
      padding: 1rem 2rem 0 2rem;

      .title {
        padding: .5rem 0;
        font-size: 1.5rem;
        border-top: 2px solid #a0a0aa;
      }

      .planet-system {
        .filter-item {
          display: flex;
          padding-bottom: .5rem;

          .discovery-checkbox-wrapper {
            padding-right: 1em;
            .discovery-checkbox:hover {
              cursor: pointer;
            }

            .discovery-checkbox:active, .discovery-checkbox:checked:active {
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
            }

            .discovery-checkbox:checked {
              background-color: #e9ecee;
              border: 1px solid #adb8c0;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05),
                inset 15px 10px -12px rgba(255, 255, 255, 0.1);
              color: #99a1a7;
            }

            .discovery-checkbox:checked:after {
              content: '\2714';
              font-size: 14px;
              position: absolute;
              top: 0;
              left: 3px;
              color: #99a1a7;
            }
          }
        }
      }
    }
  }
}
