#discovery {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../../assets/background.jpg);
	background-position: center;
	background-size: contain;
}

// Page title
#discovery h1 {
	padding: 8rem 0 1rem 0;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

/* Filters Dropdown */
#discovery .collapsible {
	width: 80vw;
	margin-bottom: 2rem;
	padding: 0 1rem;
	background-color: rgba(0, 0, 0, 0.85);
	border: 2px solid #C08FFF;
	border-radius: 0.25rem;
  }
  
  #discovery .collapsible-header {
	padding: 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

#discovery .collapsible-header p {
	margin-bottom: 0;
	font-size: 1.25rem;
	color: white;
}

#discovery .collapsible-content {
	padding: 0 1.5rem;
	overflow: hidden;
}

#discovery .arrow-up { transform: rotate(270deg); }

#discovery .arrow-down { transform: rotate(90deg);}

#discovery .filter-buttons {
	display: flex;
	gap: 1rem;
}

#discovery .collapsible-content p {
	font-size: 1.125rem;
}

#discovery .filter-container .filters {
	padding: 0 1rem;
	border-bottom: 1px solid lightgray;
}

#discovery .discoveries-table {
	width: 90vw;
	padding: 2rem 0;
}


/* Original Filter Styles */
#discovery .filters {
	.planet-system {
		.filter-item {
			cursor: help;
			display: flex;

			.discovery-checkbox-wrapper {
				padding-right: 1em;

				.discovery-checkbox:hover {
					cursor: pointer;
				}

				.discovery-checkbox:active,
				.discovery-checkbox:checked:active {
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
						inset 0 1px 3px rgba(0, 0, 0, 0.1);
				}

				.discovery-checkbox:checked {
					background: #e9ecee;
					border: 1px solid #adb8c0;
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
						inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05),
						inset 15px 10px -12px rgba(255, 255, 255, 0.1);
					color: var(--text);
				}

				.discovery-checkbox:checked:after {
					content: "\2714";
					font-size: 14px;
					position: absolute;
					top: 0;
					left: 3px;
					color: var(--text);
				}
			}
		}
	}
}
