#discovery {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../../assets/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}

// Page title
#discovery h1 {
	padding: 4rem 0 1rem 0;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

#discovery .discovery-description {
	max-width: 80vw;
}

/* Filters Dropdown */

/* General Styles */
#discovery .collapsible-container {
	margin-bottom: 0.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#discovery .collapsible-title {
	margin: 0;
	font-size: 1.25rem;
}

/* Outer Collapsible */
#discovery .collapsible {
	width: 90vw;
	padding: 1rem 2rem;
	background-color: var(--dark-gray);
	border: 2px solid var(--neon-purple);
	font-size: 1.25rem;
}

@media screen and (min-width: 576px) {
	#discovery .collapsible {
		width: 80vw;
	}
}

@media screen and (min-width: 768px) {
	#discovery .collapsible {
		width: 60vw;
	}
}

@media screen and (min-width: 992px) {
	#discovery .collapsible {
		width: 50vw;
	}
}

@media screen and (min-width: 1200px) {
	#discovery .collapsible {
		width: 40vw;
	}
}

#discovery .collapsible .filter-instructions {
	margin: 0;
	padding: 1rem 4rem 0 2rem;
	text-align: left;
	font-size: 1rem;
	font-style: italic;
}

/* Inner Collapsibles */
#discovery .discover-filter-collapsible {
	padding: 1rem 2rem 0 2rem;
}

#discovery .filter-buttons {
	margin: 2rem 0 1rem 0;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

#discovery .discoveries-table {
	width: 90vw;
	padding: 2rem 0;
}


/* Original Filter Styles */
#discovery .filters {
	.planet-system {
		.filter-item {
			cursor: help;
			display: flex;

			.discovery-checkbox-wrapper {
				padding-right: 1em;

				.discovery-checkbox:hover {
					cursor: pointer;
				}

				.discovery-checkbox:active,
				.discovery-checkbox:checked:active {
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
						inset 0 1px 3px rgba(0, 0, 0, 0.1);
				}

				.discovery-checkbox:checked {
					background: #e9ecee;
					border: 1px solid #adb8c0;
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
						inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05),
						inset 15px 10px -12px rgba(255, 255, 255, 0.1);
					color: var(--text);
				}

				.discovery-checkbox:checked:after {
					content: "\2714";
					font-size: 14px;
					position: absolute;
					top: 0;
					left: 3px;
					color: var(--text);
				}
			}
		}
	}
}
