.participate-what-were-working-on {
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	background-color: #000000;

	p {
		text-align: left;
		font-size: 1.4rem;
		width: 60vw;
	}
}
