.what-were-working-on {
	background-color: #000000;

	p {
		text-align: left;
		font-size: 1.4rem;
		width: 60vw;

		@media only screen and (max-width: 800px) {
			width: 95%;
			font-size: 1.2rem;
		}
	}
}
