.call-to-action {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	z-index: 0;
	position: relative;

	h2 {
		font-family: "Poppins";
		font-size: 3.5rem;
		z-index: 3;
	}

	button {
		background-color: #4f1699;
		transition: 300ms ease-in-out;
		z-index: 3;

		&:hover {
			background-color: var(--neon-purple);
			cursor: pointer;
		}
	}

	.overlay {
		position: absolute;
		z-index: 0;
	}

	.green-planet {
		width: 14rem;
		left: 10%;
		top: 40%;
		transform: rotateY(180deg);
	}

	/* right stars */
	.star1 {
		bottom: 10%;
		right: 10%;
	}

	.star2 {
		bottom: 55%;
		right: 12%;
		width: 1.4rem;
	}

	.star3 {
		bottom: 40%;
		right: 18%;
		width: 1.7rem;
	}

	/* left star */
	.star4 {
		top: 20%;
		left: 10%;
		width: 1.5rem;
	}
}
