.call-to-action {
	h2 {
		font-family: "Poppins";
		font-size: 3rem;
	}

	button {
		border-radius: 90px;
		background-color: var(--neon-purple);
		transition: 300ms ease-in-out;
		z-index: 3;

		&:hover {
			background-color: #4f00b6;
			cursor: pointer;
		}
	}
}
