:root {
	--content-container: 1189px;
}

.history-section {
	font-family: "Poppins", sans-serif;
	padding-bottom: 5em;
	@media (max-width: 766px) {
		padding-bottom: 3em;
	}

	.about-history-header {
		color: #FFFFFF;
		font-size: 3rem;
		margin: 0 auto;
		padding: 5rem;
		text-transform: uppercase;
	}

	.history-container {
		display: flex;
		max-width: var(--content-container);
		margin: auto;
		flex-flow: row wrap;

		#planet-image-container {
			width: 15%;
			align-items: center;
			margin-left: 140px;
			@media (max-width: 766px) {
				display: none;
			}
			@media (min-width: 767px) and (max-width: 1023px) {
				margin-left: 75px;
			}
		}

		.about-history-image {
			text-align: center;
		}

		.history {
			display: flex;
			flex-direction: column;
			width: 58%;
			margin: 0 auto 0 45px;
			@media (max-width: 766px) {
				margin-left: 15px;
				width: 90%;
			}
		}

		.about-history-wrapper {
			display: flex;
			flex-direction: column;
		}

		.history-dot {
			display: flex;
			flex-direction: row;
			margin-top: -14px;

			img {
				width: 20px;
				margin-right: 20px;
			}

			h3 {
				margin-bottom: 0;
				padding-left: 23px;
				color: #FFFFFF;
				@media (max-width: 766px) {
					font-size: 1.25em;
					padding-left: 10px;
				}
			}
		}

		.about-history-content {
			display: flex;
			flex-direction: row;

			.line {
				margin: -12px 5% 5px 1.5%;
				@media (max-width: 766px) {
					margin: -9px 5% 5px 2.95%;
				}

				#last-line {
					height: 150px;
					@media (max-width: 768px) {
						height: 235px;
					}
				}

				img {
					height: 222px;
					width: 2px;
					background-color: #FFFFFF;
					margin-right: 20px;
					@media (max-width: 766px) {
						height: 280px;
					}
				}
			}

			.div-line {
				height: 100%;
				border-left: 2px solid white;
				margin: -7px 13% 5px 9px;
				@media (min-width: 767px) {
					margin: -7px 50px 5px 9px;
				}
			}

			p {
				color: #FFFFFF;
				text-align: left;
				padding: 1em 0 3em 0;
				width: 85%;
			}

			@media (max-width: 766px) {
				font-size: 1em;
			}

			.history-paragraph-last {
				padding-bottom: .5em !important;
			}
		}
	}
}

#about-mission-statement-container {
	max-width: var(--content-container);
	width: 100%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5% auto;

	@media screen and (min-width: 1024px) {
		max-width: 1500px;
	}

	.inner-section-two {
		font-family: "Lato", sans-serif;

		@media screen and (min-width: 821px) {
			display: flex;
		}

		.about-mission-segment-container {
			margin: 1em;
			border: solid 1px white;
			width: 50%;

			.about-mission-image-wrapper {
				width: 85%;
				height: 35%;
				margin: auto;
				padding-top: 1em;
				padding-bottom: 2em;

				.about-mission-image {
					margin: 0 auto;
				}
			}

			@media screen and (max-width: 820px) {
				flex-direction: column;
				align-items: center;
				width: 90%;
				margin: 1em auto;
				.about-mission-image-wrapper {
					padding-bottom: 0;
				}
			}

			.about-mission-content {
				width: 90%;
				text-align: left;
				margin: auto;
				padding-top: 2em;

				.about-mission-header {
					padding-bottom: 1rem;
					color: #7000ff;
					text-align: center;
				}

				@media screen and (max-width: 820px) {
					width: 95%;
					text-align: center;
					padding-top: 0;
					padding-bottom: 1em;
				}
			}
		}
	}
}

#about-team-container {
	max-width: var(--content-container);
	width: 100%;
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px auto 25%;
	@media (min-width: 767px) and (max-width: 1023px) {
		margin-bottom: 20%;
	}
	@media (min-width: 1024px) {
		margin-bottom: 10%;
	}

	#main-header {
		color: #a0a0aa;
		text-transform: uppercase;
		font-family: "Poppins", sans-serif;
		font-size: 40px;
		margin-top: 60px;
		margin-bottom: 0;
		@media (min-width: 767px) and (max-width: 1023px) {
			justify-content: center;
			font-size: 46px;
		}
		@media (min-width: 1024px) {
			font-size: 52px;
		}
	}

	h4 {
		margin-bottom: 5rem;
	}

	#second-header {
		color: #a0a0aa;
		text-transform: uppercase;
		font-family: "Poppins", sans-serif;
		font-size: 30px;
	}
}
