//SECTION ONE
.section-one {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 100vh;

    #main-header {
        color: black;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 0px;
    }

    #second-header {
        color: black;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-size: 30px;
    }

    .team-picture-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 50rem;

        // #inner-team-picture-div {
        //     background-color: #f2f7fc;
        //     margin: 12px;
        // }

        .team-picture {
            width: 70px;
            border-radius: 5px;
            margin: 50px;
        }
    }
}

//SECTION
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;

    .inner-section-two {
        display: flex;
        flex-direction: row;
        font-family: "Lato", sans-serif;

        .left-div-section-two {
            width: 40%;
            margin-left: 0px;

            .section-two-image {
                width: 70px;
                border-radius: 5px;
                margin: 150px;
            }
        }
        .right-div-section-two {
            width: 50%;
            text-align: left;
            margin-left: 4%;

            .nested-div-two {
                display: flex;
                flex-direction: row;

                .nested-inner-div {
                    width: 50%;
                    margin-right: 10%;
                    margin-top: 10%;
                }
            }
        }
    }
}

//SECTION THREE
.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    margin-bottom: 10%;

    .section-three-inner-div {
        display: flex;
        flex-direction: row;

        .left-side-section-three {
            width: 50%;
            text-align: left;
            padding-right: 10%;

            #faq {
                color: black;
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                font-size: 40px;
                margin-bottom: 10%;
            }
        }

        .right-side-section-three {
            width: 50%;

            .right-side-nested-div {
                display: flex;
                flex-direction: row;

                .question-div {
                    text-align: left;
                    width: 100%;
                    font-size: 20px;
                }

                .answer-div {
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }
}

//SECTION FOUR
.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        width: 1131px;
        height: 1350px;
        text-align: left;
        font-size: 30px;
        margin-bottom: 10%;

        .form-title {
            width: 990px;
            text-align: left;
            text-transform: uppercase;
            font-size: 39px;
            margin-top: 0px;

            #title-text {
                margin-top: 2%;
                font-family: "Poppins", sans-serif;
                font-weight: bold;
            }
        }

        .first-input-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 8%;
        }
        .label {
            font-size: 36px;
        }

        .small-input {
            width: 481px;
            height: 67px;
            margin-top: 5%;
            margin-bottom: 0px;
            font-size: 36px;
        }

        .large-input {
            width: 990px;
            height: 67px;
            margin-top: 2%;
            margin-bottom: 5%;
            font-size: 36px;
        }

        .message-input {
            width: 990px;
            height: 335px;
            margin-bottom: 3%;
            margin-top: 3%;
            font-size: 36px;
        }
        .submit-button {
            width: 990px;
            height: 67px;
            border-radius: 10px;
            font-size: 36px;
            font-family: "Poppins", sans-serif;
            background-color: #7000ff;
            color: white;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 500px) {
    // .section-one {
    //     .team-picture-div {
    //         position: relative;
    //     }
    // }

    .section-two {
        .inner-section-two {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .left-div-section-two {
                display: flex;
                justify-content: center;
            }

            .nested-div-two {
                flex-direction: column;
            }
        }
    }
    .section-three {
        .section-three-inner-div {
            flex-direction: column;
            align-items: center;
        }
    }
}
