#about-team-container {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15%;

    #main-header,
    #contributers-header {
        color: #a0a0aa;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 0;
    }

    h4 {
        margin-bottom: 2.5rem;
    }

    #second-header {
        color: #a0a0aa; 
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-size: 30px;
    }

    #contributers-header {
        margin-bottom: 2.5rem;
        margin-top: 10rem;
    }

    .team-picture-div {
        display: grid;
        row-gap: 4rem;
        column-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 60%;

        .team-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .team-picture {
            width: 175px;
            height: 143px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 1rem;
            background-image: url("../../assets/img_placeholder.png"); //fallback image
            background-size: contain;
        }

        .team-name {
            font-size: 1rem;
            font-weight: bold;
        }

        .team-title {
            font-size: 0.8rem;
        }
    }
}

#about-mission-statement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;

    .inner-section-two {
        flex-direction: row;
        font-family: "Lato", sans-serif;

        .about-mission-segment-container {
            display: flex;
            justify-content: space-between;
            width: 75%;
            text-align: left;
            margin: 0 auto;
            padding-bottom: 5rem;

            .about-mission-image-wrapper {
                width: 50%;
                margin: auto;

                .about-mission-image {
                    margin: 0 auto;
                }
            }

            .about-mission-content {
                width: 50%;
                text-align: center;

                .about-mission-header {
                    padding-bottom: 1rem;
                    color: #7000ff;
                }
            }
        }
    }
}

#about-faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    margin: 10% 0 10% 0;
    background-color: white;
    color: black;
    padding: 5rem 0 10rem 0;

    .section-three-inner-div {
        display: flex;
        flex-direction: row;

        .left-side-section-three {
            width: 50%;
            text-align: left;
            padding-right: 10%;

            #faq {
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                font-size: 40px;
                margin-bottom: 10%;
            }
        }

        .right-side-section-three {
            width: 50%;

            .right-side-nested-div {
                display: flex;
                flex-direction: row;

                p {
                    color: black;
                }

                .question-div {
                    text-align: left;
                    width: 100%;
                    font-size: 20px;
                }

                .answer-div {
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }
}
