:root {
	--content-container: 1189px;
}

.about-header {
	position: relative;
	padding: 15vh 0 5vh 0;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 8vw;
	letter-spacing: 3px;

	@media screen and (min-width: 766px) {
		font-size: 6.25rem;
	}

	@media (min-width: 767px) and (max-width: 1023px) {
		font-size: 4.25rem;
	}
}

#about-mission-statement-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0;

	@media screen and (min-width: 1024px) {
		max-width: 80vw;
	}

	@media screen and (min-width: 821px) {
		display: flex;
		flex-direction: column;
	}

	.about-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.about-mission-header {
		font-size: 2.5rem;
		color: white;
		font-weight: 600;
		text-align: left;
		letter-spacing: 4px;
	}

	.about-mission-segment-container {
		display: flex;
		align-items: center;
		height: 13rem;
		margin: 1rem;

		.about-mission-header-container {
			flex-basis: 40%;
			height: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;

			h4 {
				font-family: "Poppins";
			}
		}

		.about-mission-content {
			flex-basis: 60%;
			height: 100%;
			display: inline-flex;
			align-items: center;
			background: rgba(99, 48, 112, 0.7);

			p {
				font-family: "Poppins";
				font-weight: 600;
				margin-bottom: 0;
				text-align: left;
				padding-inline: 2rem;
			}
		}
	}

	.about-values-background {
		background-image: url("../../assets/componentAssets/purple-sky-unsplash.jpg");
		background-size: cover;
		background-position: top;
	}

	.about-mission-background {
		background-image: url("../../assets/componentAssets/purple-sky-unsplash.jpg");
		background-size: cover;
		background-position: 35% 50%;
	}

	.about-vision-background {
		background-image: url("../../assets/componentAssets/purple-sky-unsplash.jpg");
		background-size: cover;
		background-position: 25% 85%;
	}
}

#about-team-slider-section {
	max-width: 1450px;
	margin: 0 auto;
	padding-top: 6em;

	.team-slider-header {
		display: flex;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto;

		h2 {
			font-size: 2.5rem;
			color: white;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}
	}

	.about-team-toggle {
		.toggle-button {
			margin: 0 2rem;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 0.25rem var(--neon-purple);
			}

			&:hover {
				background-color: var(--neon-purple);
				border-color: var(--neon-purple);
				cursor: pointer;
				color: #ffffff;
			}
		}

		.active {
			background-color: var(--neon-purple);
			border: 1px solid transparent;
			color: white;
			display: inline-block;
			font-weight: 400;
			-webkit-user-select: none;
			user-select: none;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			border-radius: 0.25rem;
			transition: background-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
			white-space: nowrap;
		}

		.inactive {
			background-color: #ffffff;
			color: var(--background-color);
			display: inline-block;
			font-weight: 400;
			-webkit-user-select: none;
			user-select: none;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			border-radius: 0.25rem;
			transition: background-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
			white-space: nowrap;
		}
	}

	.hidden {
		display: none;
	}

	.show {
		display: block;
	}
}

#about-history-section {
	font-family: "Poppins", sans-serif;
	padding-bottom: 5em;
	padding-top: 6rem;
	@media (max-width: 766px) {
		padding-bottom: 3em;
	}

	.about-history-header {
		color: #ffffff;
		font-size: 3rem;
		margin: 0 auto;
		padding: 5rem;
		text-transform: uppercase;
	}

	.history-container {
		display: flex;
		max-width: var(--content-container);
		margin: auto;
		flex-flow: row wrap;

		#planet-image-container {
			width: 15%;
			align-items: center;
			margin-left: 140px;
			@media (max-width: 766px) {
				display: none;
			}
			@media (min-width: 767px) and (max-width: 1023px) {
				margin-left: 75px;
			}
		}

		.about-history-image {
			text-align: center;
		}

		.history {
			display: flex;
			flex-direction: column;
			width: 58%;
			margin: 0 auto 0 45px;
			@media (max-width: 766px) {
				margin-left: 15px;
				width: 90%;
			}
		}

		.about-history-wrapper {
			display: flex;
			flex-direction: column;
		}

		.history-dot {
			display: flex;
			flex-direction: row;
			margin-top: -14px;

			img {
				width: 20px;
				margin-right: 20px;
			}

			h3 {
				margin-bottom: 0;
				padding-left: 23px;
				color: white;
				@media (max-width: 766px) {
					font-size: 1.25em;
					padding-left: 10px;
				}
			}
		}

		.about-history-content {
			display: flex;
			flex-direction: row;

			.line {
				margin: -12px 5% 5px 1.5%;
				@media (max-width: 766px) {
					margin: -9px 5% 5px 2.95%;
				}

				#last-line {
					height: 150px;
					@media (max-width: 768px) {
						height: 235px;
					}
				}

				img {
					height: 222px;
					width: 2px;
					background-color: white;
					margin-right: 20px;
					@media (max-width: 766px) {
						height: 280px;
					}
				}
			}

			.div-line {
				height: 100%;
				border-left: 2px solid white;
				margin: -7px 13% 5px 9px;
				@media (min-width: 767px) {
					margin: -7px 50px 5px 9px;
				}
			}

			p {
				color: white;
				text-align: left;
				padding: 1em 0 3em 0;
				width: 85%;
			}

			@media (max-width: 766px) {
				font-size: 1em;
			}

			.history-paragraph-last {
				padding-bottom: 0.5em !important;
			}
		}
	}
}
