#about {
	margin: 0;
	padding: 0;
}

.about-title {
	position: relative;
	padding: 4vh 0 2vh 0;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 3rem;

	@media screen and (min-width: 768px) {
		padding: 15vh 0 5vh 0;
	}
}

#mission-vision-values-container {
	padding: 0 4vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;

	.mission-vision-values-card {
		border: 1px solid gray;
		padding: 2rem;

		h3 {
			font-weight: bold;
			text-align: center;
		}

		p {
			text-align: left;
		}
	}
}

#our-team-container {
	padding: 0 4vw;

	.our-team-title {
		color: white;
		font-family: "Poppins", sans-serif;
		font-weight: bold;
		font-size: 3rem;
		text-align: left;
	
		@media screen and (min-width: 768px) {
			padding: 15vh 0 5vh 0;
		}
	}

	.team-slider-header {
		display: flex;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto;

		h2 {
			text-transform: uppercase;
			color: white;
			font-family: "Poppins", sans-serif;
			font-weight: bold;
			font-size: 6vw;
			letter-spacing: 3px;
		}
	}

	.about-team-toggle {
		.toggle-button {
			margin: 0 2rem;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 0.25rem var(--neon-purple);
			}

			&:hover {
				background-color: var(--neon-purple);
				border-color: var(--neon-purple);
				cursor: pointer;
				color: #ffffff;
			}
		}

		.active {
			background-color: var(--neon-purple);
			border: 1px solid transparent;
			color: white;
			display: inline-block;
			font-weight: 400;
			-webkit-user-select: none;
			user-select: none;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			border-radius: 0.25rem;
			transition: background-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
			white-space: nowrap;
		}

		.inactive {
			background-color: #ffffff;
			color: var(--background-color);
			display: inline-block;
			font-weight: 400;
			-webkit-user-select: none;
			user-select: none;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			border-radius: 0.25rem;
			transition: background-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
			white-space: nowrap;
		}
	}

	.hidden {
		display: none;
	}

	.show {
		display: block;
	}
}

#history-container {
	padding: 0 4vw;

	.header {
		color: white;
		font-family: "Poppins", sans-serif;
		font-weight: bold;
		font-size: 3rem;
		text-align: left;
	
		@media screen and (min-width: 768px) {
			padding: 15vh 0 5vh 0;
		}
	}

	.container {
		height: 700px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 31px;
	}

	.date-picker-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		gap: 13px;
	}

	.arrow-wrapper, .arrow-wrapper:hover, .arrow-wrapper:active, .arrow-wrapper:focus{
		all: revert;
		border: none;
		background: none;
	}

	.scroll-outer {
		overflow: hidden;
		height: 525px;
		width: 250px;
		position: relative;

		@media only screen and (max-width: 750px) {
			height: 247px;
			width: 120px;
		}
	}

	.scroll-inner {
		height: 100%;
		width: inherit;
		position: absolute;
		top: 0px;
		left: 0;
	}

	.selected-date {
		text-align: right;
		font-family: Poppins;
		font-size: 94.762px;
		font-style: normal;
		font-weight: 600;
		line-height: 111.05px; /* 117.188% */
		letter-spacing: 6.16px;
		text-transform: uppercase;
		animation: grow .5s ease-in-out;

		@media only screen and (max-width: 750px) {
			font-size: 40px;
			line-height: 50px;
			animation: grow-mobile .5s ease-in-out;
		}
	}

	.deselected-date {
		animation: shrink .5s ease-in-out;

		@media only screen and (max-width: 750px) {
			animation: shrink-mobile .5s ease-in-out;
		}
	}

	@keyframes fade-out {
		0% { 
			opacity: 100%;
		}
		100% { 
			opacity: 0%;
		}
	}

	@keyframes fade-in {
		0% { 
			opacity: 0%;
		}
		100% { 
			opacity: 100%;
		}
	}

	@keyframes grow {
		0% { 
			font-size: 63.646px;
			font-style: normal;
			font-weight: 600;
			line-height: 74.586px; /* 117.188% */
			letter-spacing: 4.137px;
		}
		100% { 
			font-size: 94.762px;
			font-style: normal;
			font-weight: 600;
			line-height: 111.05px; /* 117.188% */
			letter-spacing: 6.16px;
		}
	}

	@keyframes grow-mobile {
		0% {
			font-style: normal;
			font-weight: 600;
			letter-spacing: 4.137px;
			font-size: 25px;
			line-height: 35px;
		}
		100% {
			font-style: normal;
			font-weight: 600;
			letter-spacing: 6.16px;
			font-size: 40px;
			line-height: 50px;
		}
	}

	@keyframes shrink {
		0% { 
			font-size: 94.762px;
			font-style: normal;
			font-weight: 600;
			line-height: 111.05px; /* 117.188% */
			letter-spacing: 6.16px;
		}
		100% { 
			font-size: 63.646px;
			font-style: normal;
			font-weight: 600;
			line-height: 74.586px; /* 117.188% */
			letter-spacing: 4.137px;
		}
	}

	@keyframes shrink-mobile {
		0% { 
			font-size: 40px;
			line-height: 50px;
			font-style: normal;
			font-weight: 600;
			letter-spacing: 6.16px;
		}
		100% {
			font-style: normal;
			font-weight: 600;
			letter-spacing: 4.137px;
			font-size: 25px;
			line-height: 35px;
		}
	}

	.upcoming-date {
		text-align: right;
		font-family: Poppins;
		font-size: 63.646px;
		font-style: normal;
		font-weight: 600;
		line-height: 74.586px; /* 117.188% */
		letter-spacing: 4.137px;
		text-transform: uppercase;

		@media only screen and (max-width: 750px) {
			font-size: 25px;
			line-height: 35px;
		}
	}

	@keyframes dates-scroll-down {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(-150px);
		}
	}

	@keyframes dates-scroll-down-mobile {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(-70px)
		}
	}

	@keyframes dates-scroll-up {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(150px);
		}
	}

	@keyframes dates-scroll-up-mobile {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(70px)
		}
	}

	@keyframes top-to-bottom {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(-450px);
		}
	}

	@keyframes top-to-bottom-mobile {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(-210px)
		}
	}

	@keyframes bottom-to-top {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(450px);
		}
	}

	@keyframes bottom-to-top-mobile {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(210px)
		}
	}

	@keyframes scroll-down-two {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(-300px);
		}
	}

	@keyframes scroll-down-two-mobile {
		0% {
			transform: none;
		}
		100% {
			transform: translateY(-140px)
		}
	}

	.content-wrapper {
		width: 601px;
		color: #FFF;
		font-family: Lato;
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: 40px;
	}

	.selected-content {
		text-align: left;
	}

	.content-image-wrapper {
		width: 601px;
		height: 400px;
		flex-shrink: 0;
		overflow: hidden;

		@media only screen and (max-width: 750px) {
			width: 200px;
			height: 150px;
		}
	
	}
}