:root {
	--modal-text-color: #475569;
}

.modal-dialog {
	max-width: 90%;
	margin: 1rem auto;

	@media (min-width: 767px) {
		max-width: 694px;
		margin: 2rem auto;
	}
}

.modal-header {
	border-bottom: 0;
}

.close {
	color: var(--modal-text-color);
	font-size: 1.9rem;
	opacity: 1;
	font-weight: 400;

	@media (min-width: 767px) {
		font-size: 2.875rem;
	}

	&:hover {
		background-color: unset;
	}

	&:active,
	&:focus {
		outline: none;
		border: none;
	}
}

.modal-text {
	font-family: "Lato", sans-serif;
	font-size: 1.1875rem;
	line-height: 1.3;
	color: var(--modal-text-color);
	padding: 0 2rem 2rem;
	text-align: center;
	margin-top: -1rem;

	@media (min-width: 767px) {
		font-size: 2rem;
		padding: 0 4rem 4rem;
	}
}

.modal-content {
	border-radius: 50px;

	@media (min-width: 767px) {
		border-radius: 30px;
	}
}
