#blog-archive-container {
  padding: 5em 3em;
  margin: 0 auto;

  #blog-archive-header {
    font-size: 3em;
    padding-bottom: 2rem;
  }
  #blog-archives{
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    max-width: 80%;
  }

  .blog-tile {
    min-height: 250px;
    margin: 1em auto;
    text-decoration: none;
    background-color: #9aa3aa;
    border-radius: 10px;
    box-shadow: 25px 25px 13px -20px rgba(0,0,0,0.95);

    .blog-tile-image-wrapper {
      padding-top: .5em;

      img {
        width: 280px;
        height: 180px;
        padding: 5px;
      }

      .blog-title {
        padding-top: .5em;
        color: black;
        width: 280px;
      }
    }
  }
}
