.donate-header-container {
	display: flex;
	max-width: 100vw;
	height: 23rem;
	gap: 1rem;

	@media (min-width: 1024px) {
		margin-top: var(--navbar-height-desktop);
	}

	img {
		flex: 1 1 30%;
		object-fit: cover;
		overflow: hidden;
	}
}

.donate-header-container-small {
	display: none;
}

@media (max-width: 767px) {
	.donate-header-container-small {
		display: block;
		img {
			width: 100%;
			height: 18rem;
		}
	}

	.donate-header-container {
		display: none;
	}
}
