.donate-payment-header-container {
  display: flex;
  width:100%;
  margin-top: 70px;
  background: black;
  column-gap: 1rem;

  img{
      min-width: 33%
  }

}

@media (max-width:767px) {
  .donate-payment-header-container {
      display:none
  }
}