.p-what-were-working-on {
	background-image: no-repeat;
	background-position: center;
	background-size: cover;

	h2 {
		padding-top: 50px;
	}

	p {
		text-align: left;
		font-size: 1.4rem;
		width: 60vw;

		@media only screen and (max-width: 800px) {
			width: 95%;
			font-size: 1.2rem;
		}
	}
}
