#support-the-cause-section {
	width: 100%;
	margin-bottom: 80px;
	.support-the-cause-wrap {
		width: 90%;
		margin: 0 auto 3em auto;
		text-align: left;
		color: white;
		background-image: radial-gradient(
			rgba(112, 0, 255, 0.8) 0%,
			transparent 75%
		);

		@media only screen and (min-width: 1200px) {
			width: 70%;
		}

		.support-the-cause-header {
			text-align: center;
		}

		p {
			color: white;
			padding: 1em 0 1em 0;
		}

		#donate-button-container {
			padding-top: 2em;
			display: flex;
			justify-content: center;
		}
	}
}
