#contact-us-section {
	max-width: 90vw;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-bottom: 80px;

	@media only screen and (min-width: 1200px) {
		flex-wrap: nowrap;
		max-width: 90vw;
	}

	@media only screen and (min-width: 1400px) {
		flex-wrap: nowrap;
		max-width: 70vw;
	}

	.image-wrap {
		display: flex;
		justify-content: center;
	}

	.text-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-left: 0;
		text-align: left;

		@media only screen and (min-width: 1200px) {
			width: 50%;
			height: 30rem;
			margin-left: 3rem;
		}

		p {
			padding-bottom: 2rem;
		}

		.button-wrap {
			display: flex;
			justify-content: center;
		}
	}

	.contact-us-img {
		width: 50%;
		height: auto;
		margin-bottom: 1rem;

		@media only screen and (min-width: 1200px) {
			width: 100%;
			margin-bottom: 0;
			height: 30rem;
		}
	}
}
