.blog-tile {
	width: 22rem;
	height: 18rem;
	margin: 1em;
	padding: 0.5rem;
	text-decoration: none;
	background-color: var(--medium-gray);
	border-radius: 5px;
	box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.95);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: 100ms ease-out;

	&:hover {
		transform: scale(1.03);
		box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.95);
		text-decoration: none;
	}

	img {
		border-radius: 5px;
		width: 25rem;
		height: 12rem;
		object-fit: cover;
	}

	.blog-title {
		color: white;
		font-size: 1.1rem;
	}
}
