.diversity-in-tech-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 6rem;

	.button-wrap {
		display: flex;
		justify-content: center;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.images-container {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: auto;
			img {
				width: 33.3%;
				object-fit: cover;
			}
		}
		.about {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			width: 70%;
			justify-content: center;
			@media screen and (min-width: 1150px) {
				width: 50%;
			}
		}

		@media screen and (max-width: 1150px) {
			flex-direction: column;
		}
	}
}
