.diversity-in-tech-section {
	* {
		border: 1px solid red;
	}
	font-family: "Lato", sans-serif;
	margin: 0 4rem;
	padding: 0;
	
	.button-wrap {
		display: flex;
		justify-content: center;
	}
	
	.content-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4rem;

		.about {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;

			h3 {
				font-family: "Poppins", sans-serif;
				font-weight: bold;
				font-size: 2rem;
			}

			p {
				font-size: 1rem;
				line-height: 2;
			}
		}

		.images-container {
			height: 100%;

			img {
				object-fit: cover;
			}
		}
	}
}
