.menu {
	max-width: 1300px;
	margin: 2rem auto;

	.team-slider-nav-button-container {
		display: flex;
		padding-top: 5px;
		padding-bottom: 10px;

		div {
			flex: content;
			margin: 0 1.5rem;
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			letter-spacing: -0.015em;
			text-transform: uppercase;
			color: #FFFFFF;
			border-bottom: 1px solid transparent;

			&:hover {
				cursor: pointer;
				border-bottom: 1px solid #7000FF;
			}
		}

		.active {
			border-bottom: 1px solid #7000FF;
		}
	}
}
