.participate-hero {
	height: 100vh;
	padding-top: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	overflow: hidden;
	position: relative;

	h1 {
		transform: translate(-50%, -245%);
		z-index: 3;
	}

	p {
		font-size: 2rem;
		width: 55%;
		z-index: 3;
		padding: 0 0 3rem 0;
	}

	button {
		font-size: 1.3rem;
		border-radius: 90px;
		background-color: var(--neon-purple);
		transition: 300ms ease-in-out;
		z-index: 3;

		&:hover {
			background-color: #4f00b6;
			cursor: pointer;
		}
	}

	.read-more {
		background: none;
		border: transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0;
		position: absolute;
		bottom: 50px;
		text-transform: capitalize;

		&:hover {
			background: none;
			border-bottom: 2px solid var(--neon-purple);
		}
	}

	.spacelab-header {
		margin-top: -250px;
		z-index: 3;
	}

	.overlay {
		position: absolute;
		z-index: 0;
	}

	.galaxy-overlay {
		width: 100%;
		transform: scale(1.1);
	}

	.stars-overlay {
		width: 100%;
		opacity: 70%;
		transform: scale(1.3);
	}

	.green-planet {
		bottom: 12%;
		right: 10%;
		width: 20rem;
	}

	/* top left stars */
	.star1 {
		top: 23%;
		left: 20%;
		width: 2.6rem;
	}

	.star2 {
		top: 20%;
		left: 15%;
		width: 1.9rem;
	}

	/* top right star */
	.star3 {
		top: 18%;
		right: 20%;
	}

	/* bottom left stars */
	.star4 {
		bottom: 20%;
		left: 15%;
		width: 2.4rem;
	}

	.star5 {
		bottom: 14%;
		left: 23%;
		width: 1.9rem;
	}

	/* bottom right stars */
	.star6 {
		bottom: 22%;
		right: 33%;
		width: 2.3rem;
	}

	.star7 {
		bottom: 10%;
		right: 10%;
		width: 1.9rem;
	}
}
