.dropdown-button-container {
  display: flex;
  flex-direction: column;

  & > button {
    background-color: var(--pink);
    border: 1px solid transparent;
    color: white;
    display: inline-block;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
    white-space: nowrap;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 .25rem var(--pink-alpha);
    }

    &:hover {
      background-color: var(--pink-alpha);
      border-color: var(--pink-alpha);
    }
  }
}

