#dropdown-button {
  color: #fff;
  background-color: #a0a0aa;

  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(130,138,145,.5);
  }

  &:hover {
    background-color: #565e64;
  }

  &:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    box-sizing: border-box;
  }
}

#dropdown-menu {
  position: relative;
  padding: .5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border-radius: .25rem;

  &.show {
    display: block;
  }
}

#dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;

  &:focus,
  &:hover {
    color: #1e2125;
    background-color: #e9ecef;
  }
}
