#data-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	overflow: scroll;
	font-size: 11px;
	background-color: var(--medium-gray);
	border: 2px solid var(--neon-purple);
	scrollbar-color: var(--light-gray) var(--medium-gray);
	overscroll-behavior: none;	// Prevents "bounce" effect on scroll, hiding mismatched background colors
}

#column-header-container {
	position: sticky;
	top: 0;
	// Must manually set width of the table to properly render the border colors
	// on the column headers
	width: 2328px;
	display: flex;
	gap: 3px;
	background-color: var(--neon-purple);
	border-bottom: 2px solid var(--neon-purple);

	& .column-header {
		flex: 0 0 6rem;
		background-color: var(--dark-gray);
		padding: 2px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;

		& p {
			margin: 0;
			font-size: 0.75rem;
			font-weight: bold;
		}

		&:first-of-type {
			flex: 0 0 3rem;

			& img {
				width: 12px;
				align-self: center;
			}
		}

		& .drag-icon {
			width: 20px;
			align-self: center;

			&:hover {
				cursor: move;
			}

			&:active {
				cursor: grabbing;
			}
		}

		& div {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			& p {
				color: var(--text);
				font-size: 0.75rem;
				font-weight: bold;

				&.align-right {
					text-align: right;
				}

				&.align-left {
					text-align: left;
				}
			}

			& .sort-icon {
				width: 12px;
				height: 16px;
				cursor: pointer;

				// if the column is right-aligned, the sort icon needs to be left-aligned
				&.align-left {
					order: 1;
				}

				// if the column is left-aligned, the sort icon needs to be right-aligned
				&.align-right {
					order: -1;
				}
			}
		}
	}
}

.row {
	flex: 0 0 0;
	display: flex;
	gap: 3px;
	flex-wrap: nowrap;
	// for some reason the object inherits a margin of -15px which is being unset with this 0
	margin: 0;

	& .row-element {
		flex: 0 0 6rem;
		color: var(text);
		padding: 2px;
		word-break: break-all;
		overflow-wrap: break-word;

		&.first-column {
			flex: 0 0 3rem;
		}

		&.align-left {
			text-align: left;
		}

		&.align-right {
			text-align: right;
		}
	}
}
