.member-card {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;

	&:hover .member-card-details-container {
		transform: translateY(0%);
		background: linear-gradient(142deg, rgba(120, 70, 169, 0.922) 4%, rgba(0, 0, 0, 1) 99%, rgba(4, 4, 4, 1) 99%);
	}

	.member-card-details-container {
		height: 318px;
		width: 269px;
		position: absolute;
		bottom: 0%;
		left: 0%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(142deg, rgba(120, 70, 169, 0.77) 4%, rgba(0, 0, 0, 1) 99%, rgba(4, 4, 4, 1) 99%);
		transform: translateY(75%);
		transition: all 0.5s ease-in-out;
		overflow: hidden;
		z-index: 1;

		@media screen and (max-width: 768px) {
			transition: none;
		}

		&.show {
			z-index: 10;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 400px;
			width: 320px;
			transition: none;
		}

		.member-card-close {
			display: block;
			text-align: right;
			margin: 0.1rem;
			top: 0%;
			right: 0%;
			position: fixed;
			cursor: pointer;
			background-color: transparent;

			&:hover {
				transform: scale(1.1);
			}
		}

		.member-card-text-container {
			height: 80px;
			width: 100%;
			place-content: center;
			padding: 0 5px;
		}

		.member-card-text-name,
		.member-card-text-title {
			text-align: center;
		}

		.member-card-text-title {
			font-size: 16px;
		}

		.quote-container {
			max-height: 180px;
			overflow-y: scroll;

			/* Custom scrollbar styles */
			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background: #f1f1f100;
			}

			&::-webkit-scrollbar-thumb {
				background: #7846a9;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb:hover {
				background: #7846a9;
			}
		}

		.member-card-text-quote {
			font-size: 0.90rem;
			color: #ffffff;
			text-align: left;
			padding: 0 5%;
			overflow: auto;
			word-wrap: break-word;
		}

		.member-card-link-container {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: 1rem;
			display: flex;
			justify-content: center;

			a {
				height: 2rem;
				width: 2rem;
				margin-right: 1.3rem;

				&:hover {
					transform: scale(1.1);
				}
			}

		}

	}


	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}


	img {
		height: 318px;
		width: 269px;
		object-fit: cover;
		background-size: auto;
	}

	&-text {
		line-height: 30px;
		word-wrap: break-word;

		&-name {
			color: #ffffff;
			margin-top: 0.5rem;
			font-weight: bold;
			margin-bottom: 0rem;
		}

		&-title {
			color: #ffffff;
			margin-top: 0.25rem;
			font-size: 0.75rem;
		}
	}
}