.cta-container {
    .sign-up-button-container {
        z-index: 300;
        width: 561.56px;
        height: 71.47px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, 50%);
        text-align: center;
        overflow: hidden;
        border-radius: 30.6305px;
        border-top: .5px solid rgba(255, 255, 255, 1);
        border-right: .5px solid rgba(255, 255, 255, 0.5);
        border-bottom: .5px solid rgba(103, 0, 255, 1);
        border-left: .5px solid rgba(103, 0, 255, 0.5);
        box-shadow: 0px 13.6135px 54.4542px rgba(104, 1, 255, 0.12);
        background: linear-gradient(.25turn, rgb(0, 0, 0, 1), 60%, rgba(112, 0, 255, 1));
        background: conic-gradient(from 61.25deg at 52.47% 52.87%, #6804FD 0deg, #08F969 76.88deg, #100BF7 129.37deg, #F70ED2 232.5deg, #0BA2F7 360deg);
    }
    .sign-up-subscription-form {
        position: relative;
        z-index: 900;
        //width: 10%;
        //height: 10%;
        border-radius: 30.6305px;
        width: 561.56px;
        height: 71.47px;
        //display: absolute;
        //flex-direction: row;
        left: 950px;
        top: 150px;
        background: linear-gradient(.25turn, rgb(0, 0, 0, 1), 60%, rgba(112, 0, 255, 1));
       backdrop-filter: blur(20px);
    }
    .sign-up-email-input {
        z-index: 900;
        border-bottom: none;
        width: 70%;
        padding: 0;
        position: relative;
        left: 6%;
        right: 38.18%;
        top: 0%;
        bottom: 24.63%;
        font-family: 'Poppins';
        font-style: normal;
        border-radius: 30.6305px;
        width: 561.56px;
        height: 71.47px;
        box-sizing: border-box;
        //background: linear-gradient(.25turn, rgb(0, 0, 0, 1), 60%, rgba(112, 0, 255, 1));
        //backdrop-filter: blur(20px);
    }
    .sign-up-email-submit {
        z-index: 900;
        width: 40%;
        padding: 0;
         margin: 0;
        border: none;
         position: absolute;
         left: 60%;
         right: 0%;
         top: 0%;
         bottom: 0%;
         background: linear-gradient(.25turn, rgba(69, 8, 164, 0), 50%, rgba(112, 0, 255, 1));
         mix-blend-mode: normal;
         border-radius: 0px 41.6915px 41.6915px 0px;
        }
    .sign-up-email-submit:hover,  .sign-up-email-submit:active {
        z-index: 900;
        background: linear-gradient(.25turn, rgba(69, 8, 164, 0), 50%, rgba(112, 0, 255, 1));
    }
    .submit-arrow-image {
        margin-left: 60%
    }

    .submit-arrow-image:hover {
        transform: translateX(2px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        .submit-arrow-image:active {
            transform: translateX(-1px);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        }
    }

    /* Styles for 576px breakpoint (portrait phones) and below */
    @media (max-width: 576px) {

    }

    /* Styles for 768px breakpoint (tablets) and below */
    @media (max-width: 768px) {

    }

    /* Styles for 992px breakpoint (laptops) and below */
    @media (max-width: 992px) {
        
    }

    /* Styles for 1200px breakpoint (large devices) and below */
    @media (max-width: 1200px) {
        
    }

}



