:root {
	--text-color: #449495;
}

#progress-container {
    max-width: var(--content-width);
    margin: 5rem auto;
    font-family: "Lato", sans-serif;

    .progress-image-wrapper {
        position: relative;
        
        .progress-image {
            margin: 0 auto;
            padding: 1rem;
        }

        .progress-card {
            position: absolute;   
            
            @media (max-width: 1400px) {
                transform: scale(0.7);
            }

            .progress-percentage-container{
                color: var(--text-color);
                display: flex;
                margin-bottom: 0;

                .progress-percentage{
                    font-family: "Lato", sans-serif;
                    font-size: 2.18rem;
                    line-height: 1.2;
                    letter-spacing: -1px;                
                    align-self: flex-end;
                }
            }

            p {
                text-align: left;
            }

            .percentage-up-arrow {
                max-height: 44px;
                max-width: 44px;
                
                @media (max-width: 1024px) {
                    max-width: 24px;
                    min-height: 24px;
                }
            }
        }

        .people-of-color {
            top: 34%;
            right: 10%;

            @media (max-width: 1024px) {
                right: 6%;
                top: 30%;
            }
        }

        .women-non-binary {
            top: 15%;
            left: 15%;

            @media (max-width: 1024px) {
                top: 10%;
                left: 8%;
            }
        }

        .people-disablity {
            bottom: 5%;
            left: 50%;

            @media (max-width: 1024px) {
                bottom: 0%;
                left: 46%;
            }
        }
    }   
}