.images-container {
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	.link {
		display: flex;
		flex-direction: row;
		height: auto;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 5px;
	}
	img {
		width: 100%;
		box-shadow: 5px 3px 3px black;
	}

	@media screen and (max-width: 1150px) {
		flex-direction: column;
	}
}
