* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 34px;
	height: 22px;
	right: 20px;
	top: 20px;
	z-index: 100;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	opacity: 90%;
}

.bm-burger-bars-click {
	opacity: 90%;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 30px;
	width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: var(--neon-purple);
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
	position: fixed;
	height: 60vh !important;
	width: 30vw !important;

	@media screen and (max-width: 768px) {
		position: absolute;
		top: 64px;
		height: fit-content !important;
		width: 290px !important;
	}
}

/* General sidebar styles */
.bm-menu {
	max-height: fit-content !important;
	width: 100%;
	background: black;
	border: 1px solid var(--neon-purple);
	display: flex;
	justify-content: center;
}

/* Wrapper for item list */
.bm-item-list {
	color: var(--text);
	padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.hamburger-nav-links {
	text-align: left;
	padding-left: 0.5em;
	padding: 10px 0;

	div {
		padding: 0.5em 0 !important;
	}

	@media screen and (max-width: 768px) {
		text-align: left;
	}
}

.donate-btn {
	height: 50px;
	width: 150px;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid var(--neon-purple);
}

.hamburger-donate-link {
	font-size: 1.5rem;
	color: white !important;
	text-align: left;
	font-family: "Lato", sans-serif;
	letter-spacing: 1px;

	@media screen and (max-width: 768px) {
		font-size: 1.25rem;
	}
}

.hamburger-nav-link {
	font-size: 1.5rem;
	color: white !important;
	text-align: left;
	font-family: "Lato", sans-serif;
	letter-spacing: 1px;
	cursor: pointer;

	@media screen and (max-width: 768px) {
		font-size: 1.25rem;
	}
}
  
// Dropdown container (hidden by default)
.dropdown-container {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-left: 30px;
	a {
		font-size: 17px;
		letter-spacing: 1px;
	}
}

.fa-caret-down {
	width: 20px;
	text-align: end;
	padding-left: 8px;
	font-size: 10px;
}
  
