.p-apply {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	z-index: 10;
	min-height: 62vh;

	h2 {
		margin-top: 3rem;

		@media only screen and (max-width: 800px) {
			margin-top: 0;
			font-size: 1.4rem;
		}
	}

	h3 {
		font-size: 1.5rem;

		@media only screen and (max-width: 800px) {
			font-size: 1rem;
			line-height: 1.3;
		}
	}

	.app-img-container {
		display: flex;
		gap: 4rem;
		align-items: center;
		justify-content: center;
		z-index: 3;

		@media only screen and (max-width: 800px) {
			flex-direction: column;
			margin: 0 auto;
		}

		img {
			width: 28rem;
			height: 28rem;
			object-fit: cover;
			object-position: 100%;
			margin-top: 28px;

			@media only screen and (max-width: 800px) {
				display: none;
			}
		}
	}

	.buttons-container {
		display: flex;
		gap: 5rem;

		@media only screen and (max-width: 800px) {
			gap: 2rem;
		}

		button {
			width: 180px;

			@media only screen and (max-width: 800px) {
				width: 140px;
				height: 55px;
				margin-top: -55px;
			}
		}
	}

	/* image overlays */
	.overlay {
		position: absolute;
		z-index: 0;
	}

	.green-planet {
		bottom: 5%;
		right: 5%;
		width: 20rem;
		transform: rotateY(180deg);

		@media only screen and (max-width: 1400px) {
			width: 12rem;
		}

		@media only screen and (max-width: 800px) {
			display: none;
		}
	}

	/* top left stars */
	.star1 {
		top: 23%;
		left: 15%;
		width: 2.6rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			width: 1.4rem;
			top: 12%;
			left: 15%;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}

	.star2 {
		top: 18%;
		left: 10%;
		width: 1.9rem;
		animation: twinkle 2s infinite;
		animation-delay: 0.2s;

		@media only screen and (max-width: 1400px) {
			width: 1.4rem;
			top: 17%;
			left: 12%;
		}

		@media only screen and (max-width: 800px) {
			width: 1rem;
		}
	}

	/* top right star */
	.star3 {
		top: 14%;
		right: 10%;
		animation: twinkle 2s infinite;
		animation-delay: 0.4s;

		@media only screen and (max-width: 1400px) {
			width: 1.5rem;
			top: 15%;
			right: 12%;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}

	/* bottom left stars */
	.star4 {
		bottom: 20%;
		left: 15%;
		width: 2.4rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			bottom: 20%;
			left: 15%;
			width: 1.8rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}

	.star5 {
		bottom: 14%;
		left: 23%;
		width: 1.9rem;
		animation: twinkle 2s infinite;
		animation-delay: 0.2s;

		@media only screen and (max-width: 1400px) {
			width: 1.5rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1rem;
		}
	}

	/* bottom right stars */
	.star6 {
		bottom: 50%;
		right: 5%;
		width: 2.3rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			bottom: 30%;
			right: 20%;
			width: 1.2rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1rem;
		}
	}

	.star7 {
		bottom: 7%;
		right: 20%;
		width: 1.9rem;
		animation: twinkle 2s infinite;
		animation-delay: 0.1s;

		@media only screen and (max-width: 1400px) {
			bottom: 10%;
			right: 8%;
			width: 1.5rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}
}
