.newsletter-subscribe {
	h2 {
		font-family: "Poppins", sans-serif;
		font-weight: 200;
		font-style: italic;
		font-size: 21px;
		margin-bottom: 1.25rem;
		color: white;
		@media (min-width: 766px) {
			font-size: 30px;
		}
		p {
			padding-bottom: 1rem;
			@media (min-width: 766px) {
				display: inline-block;
			}
		}
	}

	.subscription-form {
		border-radius: 3px;
		height: 4rem;
		width: 100%;
		margin-bottom: 5rem;
		display: flex;

		.inner-wrap-left {
			width: 100%;
			display: flex;
			justify-content: left;
		}

		.inner-wrap-center {
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.newsletter-subscribe-input {
			height: auto;
			margin-right: 10px;
			max-width: 502px;
			width: 100%;
			font-size: 12px;
			padding: 0.75rem 1.5rem;

			&::placeholder {
				letter-spacing: 1px;
			}

			@media (min-width: 766px) {
				width: 50%;
				font-size: 18px;
				&::placeholder {
					letter-spacing: 3px;
				}
			}
		}
	}
}

.submit-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 0;
	padding-top: 2em;
	padding-bottom: 2em;
	@media (min-width: 767px) and (max-width: 1023px) {
		min-width: 280px;
	}
	@media (min-width: 1024px) {
		width: 100%;
	}
}
