.collapsible-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: .75rem;
  margin-top: 10px;
}
.collapsible-title {
  font-size: 1.5rem !important;
  margin: .5rem 0 .5rem 0;
}
