.collapsible-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: .75rem;
	margin-top: 10px;
}

.collapsible-title {
	margin: 0.5rem 2rem 0.5rem 0;
	color: white;
	font-size: 1.125rem;
}
