.cta-container {
    height: 1100px;
    background-image: url("../assets/paul-volkmer-R5bkvjGHZig-unsplash.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;

    @media only screen and (max-width: 750px) {
        height: min(800px, 95vh);
    }

    .cta-text {
        position: absolute;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        font-style: normal;
        text-align: center;
        color: #FFFFFF;
    }

    .cta-heading {
        width: max(1420px, 90%);
        font-weight: 600;
        font-size: 80px;

        @media only screen and (max-width: 750px) {
            width: 90%;
            font-size: 50px;
            line-height: 1;
        }
    }

    .cta-subheading {
        width: min(1420px, 90%);
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;

        @media only screen and (max-width: 750px) {
            width: 90%;
            font-size: 20px;
            line-height: 1;
        }
    }
    
    .planet-image-wrapper {
        z-index: 300;
        position: relative;
        width: 2000px;
        top: 35%;
        left: calc(50% - 2000px/2);

        @media only screen and (max-width: 750px) {
            width: 1000px;
            top: 40%;
            left: calc(50% - 1000px/2);
        }
    }

    .planet-image {
        z-index: 400;
        position: absolute;
        width: 100%;
        height: 1150px;
    }

    .planet-bg-glow {
        z-index: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 16%);
        height: 1750px;
        width: 90%;
        box-shadow: 0 0 100px 10px #50AFED;
        border-radius: 100%;
    }

    .success-state {
        .bounding-box {
            z-index: 400;
            position: absolute;
            top: 100px;
            right: 5%;

            @media only screen and (max-width: 750px) {
                top: 5%;
                right: 40px;
            }

            .close-png {
                width: 40px;

                @media only screen and (max-width: 750px) {
                    width: 30px;
                }
            }
        
            .close-png:hover {
                transform: translateY(2px);
            }
            .close-png:active {
                transform: translateY(-1px);
            }

        }
    }

    
}