.cta-container {
    position: relative;
    height: 1150px;
    background-image: url("../assets/paul-volkmer-R5bkvjGHZig-unsplash.jpg");
    background-size: cover;
    background-position: top;
    //height: 1091.52px;
    overflow: hidden;

    .cta-text {
        position: absolute;
        font-family: 'Poppins';
        font-style: normal;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 50%);
        text-align: center;
        color: #FFFFFF;
    }

    .cta-heading {
        display: block;
        font-weight: 600;
        font-size: 85.0847px;
        line-height: 128px;
        padding-bottom: 14px;
    }

    .cta-subheading {
        display: block;
        font-weight: 400;
        font-size: 25.53px;
        line-height: 38px;
    }
    
    .planet-image-wrapper {
        z-index: 300;
        position: relative;
        width: 120%; 
        left: 50%;
        top: 12%;
        transform: translate(-50%, 50%);
    }
    .planet-image {
        z-index: 400;
        position: absolute;
        width: 100%;
        height: 1540px;
    }
    .planet-bg-glow {
        z-index: 300;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 16%);
        height: 1800px;
        width: 90%;
        box-shadow: 0 0 100px 10px #50AFED;
        border-radius: 100%;
    }

/* Styles for 576px breakpoint (portrait phones) and below */
@media (max-width: 576px) {

}

/* Styles for 768px breakpoint (tablets) and below */
@media (max-width: 768px) {

}

/* Styles for 992px breakpoint (laptops) and below */
@media (max-width: 992px) {
    
}

/* Styles for 1200px breakpoint (large devices) and below */
@media (max-width: 1200px) {
    
}

}




    



