.cta-container {
    position: relative;
    height: 1100px;
    background-image: url("../assets/paul-volkmer-R5bkvjGHZig-unsplash.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;

    @media only screen and (max-width: 750px) {
        height: min(800px, 95vh);
    }

    .cta-text {
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        width: 90%;
        left: 50%;
        top: 7%;
        transform: translate(-50%, 50%);
        text-align: center;
        color: #FFFFFF;
        line-height: 1;

        @media only screen and (max-width: 750px) {
            top: -10%;
        }
    }

    .cta-heading {
        display: block;
        font-weight: 600;
        font-size: 85.0847px;
        padding-bottom: 4%;
    }

    .cta-subheading {
        display: block;
        font-weight: 400;
        font-size: 25.53px;
        padding-bottom: 5%;
    }
    
    .planet-image-wrapper {
        z-index: 300;
        position: relative;
        width: 120%; 
        left: 50%;
        top: 7%;
        transform: translate(-50%, 50%);

        @media only screen and (max-width: 750px) {
            width: 200%;
            top: -10%;
        }
    }

    .planet-image {
        z-index: 400;
        position: absolute;
        width: 100%;
        height: 1150px;
    }

    .planet-bg-glow {
        z-index: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 16%);
        height: 1750px;
        width: 90%;
        box-shadow: 0 0 100px 10px #50AFED;
        border-radius: 100%;
    }

}