.view-more {
    background: black;
    font-size: 0.875em;
    border: none;
    padding: 10px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 3rem auto;
}
