#contact-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
	@media (min-width: 767px) and (max-width: 1023px) {
		max-width: 600px;
	}

	.contact-form-wrapper {
		display: flex;
		flex-direction: column;
		background-color: var(--background);
		color: white;
		text-align: left;
		font-size: 20px;
		margin-bottom: 10%;

		@media (min-width: 766px) {
			align-items: initial;
		}

		h2 {
			text-transform: uppercase;
			width: 85%;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		.first-input-row {
			width: 100%;
			display: flex;
			flex-direction: row;

			@media (min-width: 767px) and (max-width: 1023px) {
				min-width: 600px;
				flex-direction: row;
				margin-top: 0.5em;
			}
			@media (min-width: 1024px) {
				min-width: 690px;
				flex-direction: row;
				margin-top: 0;
			}
		}

		.small-input {
			width: 50%;
		}

		.message-input {
			width: 100%;
			height: 250px;
			margin-top: 2rem;
			margin-bottom: 3%;
			font-size: 20px;
			background: transparent;
			color: white;
			border: 2px solid white;
			padding: 5px;
		}

		.contact-button-container {
			display: flex;
			justify-content: space-around;
		}

		.submit-button {
			width: 50%;
			height: 67px;
			font-size: 36px;
			margin: 0 auto;
		}
	}
}

.submit-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 0;
	padding-top: 2em;
	@media (min-width: 767px) and (max-width: 1023px) {
		min-width: 280px;
	}
	@media (min-width: 1024px) {
		width: 100%;
	}

	.party_popper-image {
		position: relative;
		padding-bottom: 2em;
		@media (min-width: 766px) {
			padding-bottom: 5em;
		}
	}

	p {
		max-width: 80%;
	}

	.submit-button-back_home {
		border-radius: 10px;
		border: 2px solid var(--neon-purple);
		font-size: 36px;
		font-family: "Poppins", sans-serif;
		background-color: var(--background);
		margin: 1em auto;

		a {
			text-decoration: none;
			padding: 0 0.5em;
			color: var(--neon-purple);
		}
	}

	.submit-button-back_home:hover {
		a {
			color: white;
		}

		background-color: var(--neon-purple);
	}
}
