#contact-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	@media (min-width: 768px) and (max-width: 1023px) {
		// max-width: 600px;
	}

	.contact-form-wrapper {
		width: 700px;
		max-width: 1100px;
		display: flex;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.908);
		color: white;
		text-align: left;
		font-size: 20px;
		padding: 40px;
		margin: 5% 0 10%;

		@media (min-width: 1024px) {
			min-width: 1000px;
		}
		@media (max-width: 768px) {
			align-items: initial;
			width: 90%;
			padding: 10px;
		}
		@media (max-width: 576px) {
			width: 100%;
			padding: 10px;
		}
		.contact-form-field-container {
			h2 {
				font-size: calc(20px + 2.2vmin);
				margin-bottom: 2rem;
			}		
			.first-input-row {
				width: 100%;
				display: flex;
				flex-direction: row;
				gap:6px;
				@media (min-width: 1024px) {
					flex-direction: row;
					margin-top: 0;
				}
				@media (max-width: 767px) {
					input {
						font-size: 16px;
					}
				}
				@media (max-width: 576px) {
					flex-direction: column;
					width: 100%;
					input{
						width: 100%;
					}
				}
			}	
			.small-input {
				width: 50%;
				border: 1px solid rgb(214, 214, 214);
				padding-left:10px;
			}
			#email, #phone {
				border: 1px solid rgb(214, 214, 214);
				padding-left:10px;
				@media (max-width: 767px) {
					font-size: 16px;
				}
			}
	
			.message-input {
				width: 100%;
				height: 250px;
				margin-top: 2rem;
				margin-bottom: 3%;
				font-size: 20px;
				background: transparent;
				color: white;
				border: 1px solid rgb(214, 214, 214);
				padding: 10px;
				outline: none;

				@media (max-width: 576px) {
					font-size: 16px;
				}
			}
			input:focus, #email:focus, #phone:focus, textarea:focus{
				border-color: #6333a2;
			}
	
			.contact-button-container {
				display: flex;
				justify-content: space-around;
			}
	
			.submit-button {
				width: 300px;
				height: 60px;
				font-size: 25px;
				margin: 0 auto;
				@media (max-width: 767px) {
					font-size: 20px;
					height: 55px;
				}
			}
		}
	}
}

.submit-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 0;
	padding-top: 2em;
	@media (min-width: 767px) and (max-width: 1023px) {
		min-width: 280px;
	}
	@media (min-width: 1024px) {
		width: 100%;
	}

	.party_popper-image {
		position: relative;
		padding-bottom: 2em;
		@media (min-width: 766px) {
			padding-bottom: 5em;
		}
	}

	p {
		max-width: 80%;
	}

	.submit-button-back_home {
		border-radius: 10px;
		border: 2px solid var(--neon-purple);
		font-size: 36px;
		font-family: "Poppins", sans-serif;
		background-color: var(--background);
		margin: 1em auto;

		a {
			text-decoration: none;
			padding: 0 0.5em;
			color: var(--neon-purple);
		}
	}

	.submit-button-back_home:hover {
		a {
			color: white;
		}

		background-color: var(--neon-purple);
	}
}
