#blog-archive-container {
	padding: 5em 1em;
	margin: 0 auto;

	#blog-archive-header {
		font-size: 2.5em;
		padding-bottom: 2rem;

		@media (min-width: 767px) {
			font-size: 3em;
		}
	}

	#blog-archives {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		@media (min-width: 1024px) {
			max-width: 80%;
		}
	}

	.button-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
