.horizon-section {
	color: #ffffff;
	text-align: left;
	margin-bottom: 6rem;

	p {
		color: #ffffff;
	}

	.bold {
		font-weight: 700;
	}

	.line-break {
		display: block;
	}

	.button-wrap {
		display: flex;
		justify-content: center;
	}

	.horizon-content-container {
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		height: 100%;
		align-items: center;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		margin: 4rem auto 4rem auto;
		@media screen and (min-width: 1200px) {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: space-between;
			max-width: var(--content-container);
			padding: 80px 3rem;
			margin: 4rem auto 0 auto;
		}
	}

	.horizon-left-container {
		width: 100%;
		color: #ffffff;

		div {
			font-size: 30px;
			padding-bottom: 1em;
		}
		@media (min-width: 1200px) {
			width: 50%;
			div {
				font-size: 40px;
			}
		}
	}

	.horizon-right-container {
		padding: 4rem;
		background-image: url("../../../../assets/exo-bg.png");
		background-size: cover;
		@media screen and (max-width: 800px) {
			padding-top: 2.5em;
			margin-top: 2rem;

			div {
				display: none;
			}
		}

		@media (min-width: 1024px) {
			align-items: center;
			color: #ffffff;

			div {
				font-family: "Seymour One", sans-serif;
				font-size: 25px;
			}
		}
	}
}
