.horizon-section {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.85);

	/*
	.bold {
		font-weight: 700;
	}

	.line-break {
		display: block;
	}
	*/

	.button-wrap {
		display: flex;
		justify-content: center;
	}

	.horizon-content-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4rem;

		@media screen and (max-width: 768px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	.horizon-left-container {
		padding-left: 4rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;

		@media screen and (max-width: 768px) {
			padding: 4rem;
		}

		h2 {
			font-family: "Poppins", sans-serif;
			font-weight: bold;
			font-size: 3rem;
			letter-spacing: 2px;

			@media screen and (max-width: 768px) {
				font-size: 2rem;
			}
		}

		p {
			font-size: 1rem;
			line-height: 2;
		}
	}

	.horizon-right-container {
		height: 100%;
		
		img {
			object-fit: cover;
		}
	}
}
