.diversity-in-tech-stats-section {
	padding: 5rem;
	background-size: cover;
	background-position: center;
	height: 100%;
	max-width: 100vw;

	@media only screen and (max-width: 900px) {
		padding: 5rem 1rem;
	}

	@media only screen and (max-width: 500px) {
		padding: 5rem 0;
	}
}

.stats-wrapper {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: row;
	gap: 3rem;
	max-width: 75vw;
	margin: 0 auto;

	@media only screen and (max-width: 1350px) {
		flex-direction: column;
		max-width: 50vw;
	}

	@media only screen and (max-width: 1000px) {
		flex-direction: column;
		max-width: 95vw;
	}

	@media only screen and (max-width: 500px) {
		min-width: 98vw;
	}
}

.stats-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 40rem;
	flex-grow: 1;

	@media only screen and (max-width: 850px) {
		width: 100%;
		min-width: 0;
		max-width: none;
	}

	@media only screen and (max-width: 400px) {
		width: 100%;
		min-width: 0;
		max-width: none;
	}

	h3 {
		font-size: 2rem;
		margin-bottom: -5px;
	}
}

.stat-card {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 1.4rem;
	position: relative;
	width: 100%;
	flex-basis: 0;
	flex-grow: 1;

	@media only screen and (max-width: 400px) {
		padding: 10px;
	}

	p {
		margin-bottom: 0;
		line-height: 1.6;
		background-color: var(--dark-gray);
	}

	.percentage {
		position: absolute;
		z-index: 1;
		left: 30px;
		border-radius: 50%;
		width: 8rem;
		height: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #fff3ad;
		font-size: 2.5rem;
		font-weight: 600;

		@media only screen and (max-width: 850px) {
			width: 8rem;
			height: 8rem;
			font-size: 2.3rem;
		}

		@media only screen and (max-width: 450px) {
			height: 7rem;
			width: 7rem;
			left: 20px;
			font-size: 2rem;
		}
	}

	.text {
		position: relative;
		padding: 3rem 1rem 3rem 10rem;
		width: 100%;
		height: 7rem;
		display: flex;
		align-items: center;
		justify-content: left;
		text-align: left;
		border-radius: 10px;
		border: 2px solid #fff3ad;

		@media only screen and (max-width: 800px) {
			font-size: 1.3rem;
			padding: 1.5rem 1rem 1.5rem 10rem;
		}

		@media only screen and (max-width: 450px) {
			font-size: 1.3rem;
			padding: 4.5rem 1rem 4.5rem 9rem;
		}
	}
}

.them .percentage {
	color: rgb(230, 55, 55);
}

.spacelab .percentage {
	color: rgb(56, 177, 167);
}
