.diversity-in-tech-stats-section {
	max-width: 100vw;
	height: 100%;
	background-size: cover;
	background-position: center;
	padding: 5rem;

	@media only screen and (max-width: "900px") {
		padding: 5rem 1rem;
	}

	@media only screen and (max-width: "500px") {
		h2 {
			padding: 1rem;
		}
	}
}

.stats-wrapper {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;

	@media only screen and (max-width: "500px") {
		gap: 2rem;
	}
}

.stats-column {
	flex-direction: column;
	align-items: stretch;

	h3 {
		font-size: 2rem;
		margin-bottom: -5px;

		@media only screen and (max-width: "500px") {
			margin-bottom: 1rem;
		}
	}
}

.stat-card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	position: relative;
	width: 100%;
	flex-basis: 0;
	flex-grow: 1;

	@media only screen and (max-width: "500px") {
		padding: 10px;
	}

	p {
		background-color: var(--background);
		margin-bottom: 0;
		line-height: 1.6;
	}

	.percentage {
		position: absolute;
		z-index: 1;
		left: 40px;
		border-radius: 50%;
		width: 7rem;
		height: 7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #fff3ad;
		font-size: 2.5rem;
		font-weight: 600;

		@media only screen and (max-width: "850px") {
			width: 6rem;
			height: 6rem;
			font-size: 2rem;
		}

		@media only screen and (max-width: "500px") {
			height: 6rem;
			width: 6rem;
			left: 30px;
			font-size: 2rem;
		}
	}

	.text {
		position: relative;
		padding: 1.5rem 2rem 1.5rem 10rem;
		width: 100%;
		height: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		border: 2px solid #fff3ad;

		@media only screen and (max-width: "850px") {
			font-size: 1.2rem;
			padding: 1.5rem 1rem 1.5rem 8rem;
		}

		@media only screen and (max-width: "500px") {
			height: 10rem;
		}
	}

	.spacelab {
		color: rgb(56, 177, 167);
	}
}

.them .percentage {
	color: rgb(230, 55, 55);
}

.spacelab .percentage {
	color: rgb(56, 177, 167);
}
