* {
	border: 1px solid red;
}

.diversity-in-tech-stats-section {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 4rem;
	background-color: rgba(red(#0E001F), green(#0E001F), blue(#0E001F), 0.85);

	h2 {
		font-family: "Poppins", sans-serif;
		font-weight: bold;
		font-size: 3rem;
		letter-spacing: 2px;
	}

	.stats-wrapper {
		padding: 0 4rem;
		display: grid;
		grid-template-columns: 1fr 1fr;	
		flex-wrap: row;
		gap: 12rem;
		
		.stats-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;
		
			h3 {
				font-size: 1.75rem;
			}
		
			.stat-card {		
				display: flex;
				align-content: center;
				background-color: #1C1A22;
				border: 2px solid #FCF0A6;
				border-radius: 1rem;
			
				.percentage {
					font-family: "Poppins", sans-serif;
					font-weight: bold;
					font-size: 2rem;
				}
			
				.text {
					text-align: left;
				}
			}
		}
	}
}

.them .percentage {
	color: #FF6058;
}

.spacelab .percentage {
	color: #3EAF3F;
}
