.contact-page-container {
    font-family: "Lato", sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    background-image: url(../../assets/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}