:root {
	--content-container: 80%;
}

h2 {
	font-size: 2.8em;
	font-family: "Poppins", sans-serif;
	color: white;
	margin-bottom: 3rem;
	@media (max-width: 766px) {
		font-size: 2.5em;
	}
}

h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: white;
	margin-bottom: 3rem;
}

p {
	font-family: "Lato", sans-serif;
	font-size: 1.4em;
	line-height: 1.5;
	color: #ffffff;
}

.diversity-in-tech-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 6rem;

	h2 {
		margin-top: 2rem;
	}

	.button-wrap {
		margin: 4rem;
		display: flex;
		justify-content: center;
	}

	button {
		display: flex;
		padding: 15px 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 18px;
		border-radius: 3px;
		border: none;
		color: white;
		background: #7000ff;
		a {
			color: white;
			text-decoration: none;
		}
	}

	.content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 550px;

		.images-container {
			display: flex;
			flex-direction: row;
			width: 100%;
			img {
				width: 33.3%;
				height: 300px;
				object-fit: cover;
			}
		}
		.about {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			width: 40%;
			justify-content: center;
		}

		@media screen and (max-width: 1150px) {
			flex-direction: column;
		}
	}
}

.horizon-section {
	color: #ffffff;
	text-align: left;
	margin-bottom: 6rem;

	p {
		color: #ffffff;
	}

	.bold {
		font-weight: 700;
	}

	.line-break {
		display: block;
	}

	.button-wrap {
		margin: 4rem;
		display: flex;
		justify-content: center;
	}

	button {
		display: flex;
		padding: 15px 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 18px;
		border-radius: 3px;
		color: white;
		border: none;
		background: #7000ff;
		a {
			color: white;
			text-decoration: none;
		}
	}

	.horizon-content-container {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
		max-width: var(--content-container);
		padding: 80px 3rem;
		margin: 4rem auto;
		@media screen and (max-width: 800px) {
			flex-direction: column;
		}
	}

	.horizon-left-container {
		width: 50%;
		color: #ffffff;

		div {
			font-size: 30px;
			padding-bottom: 1em;
		}
		@media screen and (max-width: 800px) {
			width: 100%;
		}
		@media (min-width: 1024px) {
			div {
				font-size: 40px;
			}
		}
	}

	.horizon-right-container {
		padding: 4rem;
		margin: 0;
		background-image: url("../../assets/exo-bg.png");
		background-size: cover;
		@media screen and (max-width: 800px) {
			padding-top: 2.5em;
			margin-top: 2rem;

			div {
				display: none;
			}
		}

		@media (min-width: 1024px) {
			align-items: center;
			color: #ffffff;

			div {
				font-family: "Seymour One", sans-serif;
				font-size: 25px;
			}
		}
	}
}

#support-the-cause-section {
	width: 100%;
	margin: 0 auto 3em auto;
	text-align: left;
	color: white;
	max-width: var(--content-container);

	.support-the-cause-header {
		font-size: 28px;
		font-weight: bold;
		text-align: center;
	}

	p {
		color: white;
		padding: 1em 0 1em 0;
	}

	#donate-button-container {
		padding-top: 2em;
		display: flex;
		justify-content: center;
	}
}

.blog-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
