.images {
    //image container
    width: 100%;
    position: relative;
    flex: 5;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2s;

        &.show-image {
            visibility: visible;
            opacity: 1;
            transition: opacity 2s;
        }
    }

    button {
        cursor: pointer;
    }

    .slider-dots {
        position: absolute;
        width: 100%;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        button {
            //dots
            width: 15px;
            height: 15px;
            border-radius: 50%;
            padding: 0;
            background: black;
            border: solid white 2px;
            &:not(:last-of-type) {
                margin-right: 1rem;
            }
        }
    }

    .button {
        width: 70px;
        height: 70px;
        background: white;
        border: none;
        position: absolute;
        visibility: hidden;

        &.prev-button {
            left: 0;
            bottom: 50%;
            transform: translateY(50%);
        }

        &.next-button {
            right: 0;
            bottom: 50%;
            transform: translateY(50%);
        }

        &.show {
            visibility: visible;
        }
    }
}
