.hamburger-wrapper {
	@media (min-width: 1024px) {
		display: none;
	}
}

.outer-container {
	position: relative;
	height: 64px;
	width: 100%;

	nav {
		height: 64px;
		top: 0;
		left: 0;
		z-index: 999;

		@keyframes slide-down {
			0% {
				transform: translateY(-150%);
			}
			100% {
				transform: translateY(0);
			}
		}

		@media (min-width: 1024px) {
			position: fixed;
			top: 0;
			left: 0;
			height: 70px;
			width: 100%;
			background: #000000;
			color: white;
			text-transform: uppercase;
			font-family: "Lato", sans-serif;
			font-size: 0.8em;

			a {
				color: white;

				&:hover {
					color: var(--neon-purple);
				}
			}
		}

		.nav-wrapper {
			@media (min-width: 1024px) {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				padding: 0 2rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.logo-container {
				padding: 0 0.5rem;
				display: flex;
				align-items: left;
				background-color: black;
				z-index: 99;

				.logo-nav {
					max-height: 64px;

					img {
						height: 100%;	
					}
				}
			}

			.nav-links {
				display: none;
				list-style-type: none;
				margin: 0;
				@media (min-width: 1024px) {
					display: flex;
					font-size: 1.5em;
				}

				.nav-link {
					letter-spacing: 1px;
					line-height: 1.5;
				}

				.donate-page-link {
					border: 1px solid var(--neon-purple);
				}

				.nav-dropdown {
					position: relative;
					display: inline-block;
					padding: 0.5rem 1rem;

					@media (min-width: 1024px) {
						margin-right: 1rem;
					}

					.dropdown-nav-name {
						// font-size: 1.25rem;
						// color: #ffffff;
						margin: 0;

						&:hover{
							text-decoration: none;
						}

						&:focus{
							outline-offset: 15px;
						}
					}

					.dropdown-content {
						list-style-type: none;
						display: none;
						position: absolute;
						z-index: 1;
						background-color: black;
						margin-left: -25px;
						padding: 25px 0 15px 20px;
					}
				}

				.nav-dropdown:hover .dropdown-content,
				.nav-dropdown:focus-within .dropdown-content {
					display: block;
				}

				.nav-dropdown.nav-link {
					cursor: initial;
				}

				a {
					@media (min-width: 1024px) {
						margin-right: 1rem;
					}
				}
			}
		}
	}
}