.hamburger-wrapper {
	@media (min-width: 1024px) {
		display: none;
	}
}

nav {
	height: 55px;
	@media (min-width: 1024px) {
		top: 0;
		left: 0;
		height: 70px;
		width: 100%;
		background: #000000;
		color: white;
		z-index: 99;
		text-transform: uppercase;
		font-family: "Lato", sans-serif;
		font-size: 0.8em;
		position: fixed;

		a {
			color: white;

			&:hover {
				color: var(--neon-purple);
			}
		}
	}

	.nav-wrapper {
		@media (min-width: 1024px) {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			padding: 0 2rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.logo-container {
			height: 3.5em;
			padding-top: 0.25em;
			text-align: left;
			position: fixed;
			width: 100vw;
			background-color: black;
			z-index: 99;
			@media (min-width: 767px) and (max-width: 1023px) {
				height: 4em;
				padding-top: 0.5em;
			}
			@media (min-width: 1024px) {
				height: 5.25em;
				position: relative;
				font-family: "Seymour One", sans-serif;
				max-width: 300px;
			}

			.logo-nav {
				@media (min-width: 1024px) {
					font-size: 2.2em;
				}

				img {
					max-width: 50vw;
					margin-left: 0.5em;
					position: fixed;
					z-index: 98;
					@media (min-width: 767px) and (max-width: 1023px) {
						max-width: 30vw;
					}
					@media (min-width: 1024px) {
						max-width: 290px;
						margin: auto auto;
					}
				}
			}
		}

		.nav-links {
			display: none;
			list-style-type: none;
			margin: 0;
			@media (min-width: 1024px) {
				display: flex;
				font-size: 1.5em;
			}

			.nav-link {
				line-height: 1.8;
			}

			.nav-dropdown {
				position: relative;
				display: inline-block;
				padding: 0.5rem 1rem;

				@media (min-width: 1024px) {
					margin-right: 1rem;
				}

				.dropdown-nav-name {
					// font-size: 1.25rem;
					// color: #ffffff;
					margin: 0;

					&:hover{
						text-decoration: none;
					}

					&:focus{
						outline-offset: 15px;
					}
				}

				.dropdown-content {
				    list-style-type: none;
					display: none;
					position: absolute;
					z-index: 1;
					background-color: black;
					margin-left: -25px;
					padding: 25px 0 15px 20px;
				}
			}

			.nav-dropdown:hover .dropdown-content,
			.nav-dropdown:focus-within .dropdown-content {
				display: block;
			}

			.nav-dropdown.nav-link {
				cursor: initial;
			}

			a {
				@media (min-width: 1024px) {
					margin-right: 1rem;
				}
			}
		}
	}
}
