.hamburger-wrapper {
	@media (min-width: 992px) {
		display: none;
	}
}

.outer-container {
	position: relative;
	height: 64px;
	width: 100%;

	nav {
		height: 64px;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: black;

		@keyframes slide-down {
			0% {
				transform: translateY(-150%);
			}
			100% {
				transform: translateY(0);
			}
		}

		@media (min-width: 992px) {
			position: fixed;
			top: 0;
			left: 0;
			height: 64px;
			width: 100%;
			background: #000000;
			color: white;
			text-transform: uppercase;
			font-family: "Lato", sans-serif;

			a {
				color: white;

				&:hover {
					color: var(--neon-purple);
				}
			}
		}

		.nav-wrapper {
			@media (min-width: 992px) {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				padding: 0 2rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.logo-container {
				padding-bottom: 0.25rem;
				display: flex;
				z-index: 99;

				.logo-nav {
					max-height: 64px;

					img {
						height: 100%;	
					}
				}
			}

			.nav-links {
				display: none;

				@media (min-width: 992px) {					
					margin: 0;
					display: flex;
					gap: 1rem;
					font-size: 1.125em;
					list-style-type: none;
				}

				.nav-link {
					text-wrap: nowrap;
					letter-spacing: 1px;
					text-decoration: none;
				}

				.donate-page-link {
					margin-left: 0.5rem;
					border: 2px solid var(--neon-purple);
				}

				.nav-dropdown {
					position: relative;

					.dropdown-nav-name {
						margin: 0;
					}

					&:hover{
						color: var(--neon-purple);
						text-decoration: none;
						cursor: pointer;
					}

					.dropdown-content {
						position: absolute;
						left: 0;
						min-width: 100%;
						padding: 1rem 0.5rem;
						display: none;
						z-index: 1;
						background-color: black;
						list-style-type: none;					}
				}

				.nav-dropdown:hover .dropdown-content,
				.nav-dropdown:focus-within .dropdown-content {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}