.modal-container {
    background-color: blue;
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 55px; // <= height of nav
    left: 0;
    z-index: 200;
}

.close-modal {
    position: absolute;
    top: 15%;
    right: 5%;
}

.modal-subheading {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%)
}