.navigation-button {
	display: flex;
	padding: 15px 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 3px;
	color: white;
	border: none;
	background: #7000ff;
	a {
		color: white;
		text-decoration: none;
	}
}
