#hero-image-container {
	position: relative;
	right: 0;
	bottom: 0;
	width: 100%;
	height: calc(348px); //70px is the nav bar
	background: #160d39;
}

#hero-image {
	height: 348px;
	width: 100%;
	object-fit: cover;
}

#hero-page {
	position: absolute;
	width: 90%;
	color: white;
	font-family: "Seymour One", sans-serif;
	font-weight: bold;
	font-size: 8vw;
	letter-spacing: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 98;
	@media screen and (min-width: 766px) {
		font-size: 6.25rem;
	}
	@media (min-width: 767px) and (max-width: 1023px) {
		font-size: 4.25rem;
	}
}

.spacelab-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home-page {
	margin: auto;
	width: 100%;
	height: 50%;
	z-index: 98;

	//spacelab logo displaying
	background-image: url("../../assets/spacelab.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 50%;

	span {
		display: none; //adding span for screen reader accessibility
	}
}
