#hero-image-container {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: calc(90vh - 85px); //85px is the nav bar
    background: #160d39;
}

#hero-image {
    height: 100%;
    width: 100%;
}
//#hero-circle {
//    position: absolute;
//    border-radius: 50%;
//    background: rgba(179, 175, 175, 0.95);
//    opacity: 0.25;
//    width: 80vw;
//    height: 80vw;
//    max-width: 60vh;
//    max-height: 60vh;
//    z-index: 50;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//}

#hero-page {
    position: absolute;
    width: 90%;
    color: white;
    font-family: "Seymour One", sans-serif;
    font-weight: bold;
    font-size: 6.25rem;
    letter-spacing: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    @media screen and (max-width: 600px) {
        font-size: 10vw;
    }
}

#home-page {
    position: absolute;
    width: 90%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    //spacelab logo displaying
    background-image: url("../../assets/spacelab.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;

    span {
        display:none; //adding span for screen reader accessibility
    }
}