nav {
    display: flex;
    justify-content: flex-end;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: transparent;
}

nav div {
    padding: 1em 1em;
    font-size: 1em;
    color: #5E5D5D;
}

nav span:hover, nav span:visited {
    color: #5E5D5D;
    border-bottom: 2px solid #7000FF;;
}
