nav {
    height: 80px;
    width: 100%;
    background: #1C1A22;
    color:white;
    z-index: 99;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
}

.nav-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    font-family: "Seymour One", sans-serif;
}

.logo-nav {
    font-size: 2.2em;
}

.nav-links {
    display:flex;
    font-size: 1.5em;
}

a {
    color: white;
}

a:hover {
    color: #7000ff;
}

.nav-links a:not(:last-of-type) {
    margin-right: 2rem;
    
}