nav {
    height: 55px;
    width: 100%;
    background: #1C1A22;
    color:white;
    z-index: 99;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
    position: fixed;
    opacity: 100;
}

#site-nav-opening {
    height: 160px;
}

.nav-wrapper {
    display: none;
}

.hamburger-wrapper ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.hamburger-wrapper ul.opening {
    display: block;
    height: 30px;
}

#site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}

nav.opening {
    height: 6rem;
}

.hamburger-toggle {
    position: absolute;
    padding: 0.5em 0.5em;
    top: .5em;
    right: .5em;
    cursor: pointer;
}
.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1em;
    border-radius: 3px;
    -webkit-transition:all ease-in-out 350ms;
    transition:all ease-in-out 350ms;
}
.hamburger-icon::before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}
.hamburger-icon::after {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.opening .hamburger-icon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.opening .hamburger-icon::before {
    display: none;
}
.opening .hamburger-icon::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
    transform: translateY(-1px) rotate(-90deg);
}

.hamburger-logo-container {
    font-family: "Seymour One", sans-serif;
}

.hamburger-logo-nav {
    font-size: 2.2em;
}

.hamburger-nav-links {
    display:flex;
    flex-direction: column;
    font-size: 1.5em;
}

a {
    color: white;
}

a:hover {
    color: #7000ff;
}

.hamburger-nav-links a:not(:last-of-type) {
    margin-right: 2rem;
    
}

@media (min-width: 767px) and (max-width: 1023px) {
    nav {
        height: 1.5em;
    }
    .hamburger-toggle {
        top: .25em;
    }
}

@media (min-width: 1024px) {
    .hamburger-wrapper {
        display: none;
    }

    .nav-wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-container {
        font-family: "Seymour One", sans-serif;
    }

    .logo-nav {
        font-size: 2.2em;
    }

    .nav-links {
        display:flex;
        font-size: 1.5em;
    }

    a {
        color: white;
    }

    a:hover {
        color: #7000ff;
    }

    .nav-links a:not(:last-of-type) {
        margin-right: 2rem;

    }
}