.nav-links {
    display: none;
}

.logo-container {
    height: 5.25em;
    text-align: left;
    position: fixed;
    width: 100vw;
    background-color: #000000;
    z-index: 99;
    @media (max-width: 766px) {
        height: 3.5em;
        padding-top: .25em;
    }
    @media (min-width: 767px) and (max-width: 1023px) {
        height: 4.0em;
        padding-top: .5em;
    }
}

.logo-nav img {
    max-width: 50vw;
    margin-left: .5em;
    position: fixed;
    z-index: 98;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .logo-nav img {
        max-width: 30vw;
    }
}

@media (min-width: 1024px) {
    .hamburger-wrapper {
        display: none;
    }

    nav {
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background: #000000;
        color: white;
        z-index: 99;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-size: 0.8em;
        position: fixed;
        @media (max-width: 766px) {
            height: 60px;
        }
    }

    .nav-wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-container {
        position: relative;
        font-family: "Seymour One", sans-serif;
        max-width: 20vw;
    }

    .logo-nav {
        font-size: 2.2em;
    }

    .logo-nav img {
        max-width: 15vw;
        margin: auto auto;
    }

    .nav-links {
        display:flex;
        font-size: 1.5em;
    }

    a {
        color: white;
    }

    a:hover {
        color: #7000ff;
    }

    .nav-links a:not(:last-of-type) {
        margin-right: 2rem;
    }
}