.menu {
    align-items: center;
}

.cohorts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.cohorts>button {
    border-radius: 5px;
    padding: 8px 16px;
    width: 189px;
}

.rows {
    display: flex;
    padding-top: 5px;
}

.rows>div {
    flex: content;
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    letter-spacing: -0.015em;
    text-transform: uppercase;

    color: #FFFFFF;


}

.rows>div:hover {
    text-decoration: underline;
}