.search-bar {
	display: inline-block;
	width: 100%;
	min-width: 300px;
	position: relative;
}

.highlighted {
	border: 2px solid var(--neon-purple) !important;
	border-radius: 50px;
}

.searchInputs {
	display: flex;
	height: 44px;
	width: 100%;
	border: 2px solid lightgray;
	border-radius: 50px;

	& input {
		color: var(--text);
		background-color: transparent;
		font-size: 1rem;
		height: 2.5rem;
		width: 50vw;
		padding: 0 15px;
		border: none;
		// // without borders the input text would shift when clicking on box / in focus

		&:focus {
			outline: none;
			border: none;
		}

		// Removes blue x icon.
		&::-webkit-search-cancel-button {
			display: none;
		}
	}

	& .search-icon-div {
		height: 2.5rem;
		min-height: 40px;
		width: 4rem;
		min-width: 60px;
		padding: 0 10px;
		outline: none;
		cursor: pointer;

		& img {
			margin: 7.5px;
			width: 25px;
			height: 25px;
		}

		& .clear-button {
			cursor: pointer;
			margin: 12.5px;
			width: 15px;
			height: 15px;
		}
	}
}

.search-results-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: absolute;
	margin-top: 0;
	margin-left: 25px;
	width: 90%;
	height: 12rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	border-radius: 5px;
	z-index: 99;

	& .search-result {
		display: flex;
		justify-content: left;
		align-items: center;
		padding-left: 1rem;
		min-height: 2rem;
		color: black;
	}

	& .search-result:hover,
	.search-result.selected-search-result {
		background-color: rgb(241, 241, 241);
		cursor: pointer;
		text-decoration: underline;
	}

	&::-webkit-scrollbar {
		position: relative;
		border-radius: 20px;
		width: 5px;
		cursor: pointer;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		height: 10px;
		background: var(--neon-purple);
	}
}
