#contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1A22;
    color: white;
    width: 1131px;
    height: 1350px;
    text-align: left;
    font-size: 30px;
    margin-bottom: 10%;

    .contact-form-title {
      width: 990px;
      text-align: left;
      text-transform: uppercase;
      font-size: 39px;
      margin-top: 0;

      #title-text {
        margin-top: 2%;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
      }
    }

    .first-input-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8%;
    }
    .contact-form-label {
      font-size: 36px;
    }

    .small-input {
      width: 100%;
      height: 67px;
      margin-top: 5%;
      margin-bottom: 0;
      font-size: 36px;
    }

    .large-input {
      width: 990px;
      height: 67px;
      margin-top: 2%;
      margin-bottom: 5%;
      font-size: 36px;
    }

    .message-input {
      width: 990px;
      height: 335px;
      margin-bottom: 3%;
      margin-top: 3%;
      font-size: 36px;
    }

    .contact-button-container {
      display: flex;
      justify-content: space-around;
    }
    .submit-button {
      width: 50%;
      height: 67px;
      border-radius: 10px;
      border: 2px solid #7000ff;
      font-size: 36px;
      font-family: "Poppins", sans-serif;
      background-color: #1C1A22;
      color: #7000ff;
      margin: 0 auto;
    }

    .submit-button:hover {
      color: white;
      background-color: #7000FF;
    }
  }
}
