#contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .contact-form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1c1a22;
        color: white;
        width: 100%;
        text-align: left;
        font-size: 30px;
        margin-bottom: 10%;

        .contact-form-title {
            width: 50%;
            text-align: left;
            text-transform: uppercase;
            font-size: 39px;
            margin-top: 0;
            margin-bottom: 2rem;
            @media (max-width: 766px) {
                width: 85%;
            }

            #title-text {
                margin-top: 2%;
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                color: white;
                text-align: left;
            }
        }

        #contact-form-field-container {
            max-width: 80vw;

            .first-input-row {
                width: 100%;
                min-width: 690px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 8%;
                @media (min-width: 767px) and (max-width: 1023px) {
                    min-width: 600px;
                }
                @media (max-width: 766px) {
                    flex-direction: column;
                    min-width: 0;
                }
            }
            .contact-form-label {
                font-size: 24px;
            }

            .small-input {
                width: 100%;
                min-width: 320px;
                height: 67px;
                margin-top: 5%;
                margin-bottom: 0;
                font-size: 24px;
                @media (min-width: 767px) and (max-width: 1023px) {
                    min-width: 280px;
                }
                @media (max-width: 766px) {
                    min-width: 0;
                }
            }

            .large-input {
                width: 100%;
                height: 67px;
                margin-top: 2%;
                margin-bottom: 5%;
                font-size: 36px;
            }

            .message-input {
                width: 100%;
                height: 250px;
                margin-bottom: 3%;
                margin-top: 3%;
                font-size: 36px;
            }

            .contact-button-container {
                display: flex;
                justify-content: space-around;
            }
            .submit-button {
                width: 50%;
                height: 67px;
                border-radius: 10px;
                border: 2px solid #7000ff;
                font-size: 36px;
                font-family: "Poppins", sans-serif;
                background-color: #1c1a22;
                color: #7000ff;
                margin: 0 auto;
            }

            .submit-button:hover {
                color: white;
                background-color: #7000ff;
            }
     
        }
    }
}
.submit-button-back_home {
    width: 50%;
    height: 67px;
    border-radius: 10px;
    border: 2px solid #7000ff;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    background-color: #1c1a22;
    color: #7000ff;
    margin: 0 auto;
}
.submit-button-back_home:hover {
    color: white;
    background-color: #7000ff;
}
.party_popper-image {
    position: relative;
}