#about-team-slider-section {
	max-width: 1450px;
	margin: 0 auto;
	padding-top: 6em;

	.team-slider-header {
		display: flex;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto;

		h2 {
			text-transform: uppercase;
			color: white;
			font-family: "Poppins", sans-serif;
			font-weight: bold;
			font-size: 6vw;
			letter-spacing: 3px;
		}
	}

	.about-team-toggle {
		.toggle-button {
			margin: 0 2rem;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 0.25rem var(--neon-purple);
			}

			&:hover {
				background-color: var(--neon-purple);
				border-color: var(--neon-purple);
				cursor: pointer;
				color: #ffffff;
			}
		}

		.active {
			background-color: var(--neon-purple);
			border: 1px solid transparent;
			color: white;
			display: inline-block;
			font-weight: 400;
			-webkit-user-select: none;
			user-select: none;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			border-radius: 0.25rem;
			transition: background-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
			white-space: nowrap;
		}

		.inactive {
			background-color: #ffffff;
			color: var(--background-color);
			display: inline-block;
			font-weight: 400;
			-webkit-user-select: none;
			user-select: none;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			border-radius: 0.25rem;
			transition: background-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
			white-space: nowrap;
		}
	}

	.hidden {
		display: none;
	}

	.show {
		display: block;
	}
}
