.cookie-wrap {
    text-align: left;
    padding: 10vmin;
}

.cookie-wrap h5 {
    font-size: 26px;
    font-weight: bold;
}

a.cky-banner-element {
    padding: 8px 30px;
    background: #F8F9FA;
    color: #858A8F;
    border: 1px solid #DEE2E6;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}