.cookie-wrap {
	text-align: left;
	padding: 10vmin;
}

.cookie-wrap h2 {
	font-size: 26px;
	font-weight: bold;
}

a.cky-banner-element {
	padding: 8px 30px;
	background: #f8f9fa;
	color: #858a8f;
	border: 1px solid #dee2e6;
	box-sizing: border-box;
	border-radius: 2px;
	cursor: pointer;
}
