#about-org-identity-container {
	margin: 0 auto 5rem;

	.about-org-content {
		max-width: var(--content-width);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;

		@media (min-width: 1024px) {
			flex-direction: row;
			padding: 0 4rem;
		}

		.card-section {
			font-weight: 400;
			border: none;
			align-self: stretch;
			flex: 1 1 0;
			padding: 1rem;

			@media (min-width: 1024px) {
				border: 3px white solid;
				margin-right: -3px; //prevent overlap boder
				padding: 2rem;
			}

			.about-mission-content {
				width: 90%;
				margin: auto;
				padding-top: 0;

				@media (min-width: 767px) {
					padding-top: 1rem;
				}

				p {
					color: white;
				}
			}
		}
	}
}
