.p-application-form {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
	z-index: 3;

	@media only screen and (max-width: 800px) {
		width: 100%;
	}

	div {
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
		background-color: rgb(236, 236, 236);
		color: black;
		border: 2px solid transparent;
		border-radius: 6px;
		padding: 2px 10px;
		height: 2.3rem;
		margin: 0;
		display: block;

		&:focus {
			border: 2px solid var(--neon-purple);
		}
	}

	textarea {
		resize: none;
		height: 6rem;
		width: 100%;
	}

	select {
		width: 50%;
	}

	label {
		@media only screen and (max-width: 800px) {
			font-size: 0.8rem;
		}
	}
}

.p-apply-thank-you {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	min-height: 62vh;

	h2 {
		margin-top: 3rem;
		font-size: 2rem;
		z-index: 3;

		@media only screen and (max-width: 1000px) {
			font-size: 1.4rem;
			margin: 0;
		}
	}

	h3 {
		font-size: 1.2rem;
		letter-spacing: 1px;
		padding: 0 1rem;
		z-index: 3;

		@media only screen and (max-width: 1000px) {
			font-size: 0.8rem;
		}

		a {
			color: var(--neon-purple);
		}
	}

	.learn-more {
		font-size: 1.6rem;
		z-index: 3;

		@media only screen and (max-width: 1000px) {
			font-size: 1.4rem;
			margin: 0;
		}
	}

	p {
		@media only screen and (max-width: 1000px) {
			font-size: 1.2rem;
			line-height: 1.3;
			padding: 0 2rem;
		}
	}

	.app-img-container {
		display: flex;
		gap: 4rem;
		align-items: center;
		justify-content: center;
		z-index: 3;

		@media only screen and (max-width: 1000px) {
			flex-direction: column;
			margin: 0 auto;
		}

		img {
			width: 28rem;
			height: 28rem;
			object-fit: cover;
			object-position: 100%;
			margin-top: 28px;

			@media only screen and (max-width: 1000px) {
				display: none;
			}
		}
	}

	.buttons-container {
		display: flex;
		gap: 5rem;

		@media only screen and (max-width: 1000px) {
			gap: 2rem;
		}

		button {
			width: 180px;

			@media only screen and (max-width: 1000px) {
				width: 140px;
				height: 55px;
				margin-top: -55px;
			}
		}
	}

	/* this styling is to swap the order in which 
	the elements are displayed on smaller screens */
	.img-swap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		width: 50vw;

		@media only screen and (max-width: 1000px) {
			flex-direction: column-reverse;
			width: 100%;
		}
	}

	.thank-you-img {
		width: 100%;
		height: 30rem;
		object-fit: cover;
		z-index: 3;

		@media only screen and (max-width: 1000px) {
			height: 15rem;
		}
	}

	/* image overlays */
	.overlay {
		position: absolute;
		z-index: 0;
	}

	.green-planet {
		bottom: 0%;
		right: 0%;
		width: 20rem;
		transform: rotateY(180deg);

		@media only screen and (max-width: 1400px) {
			width: 12rem;
		}

		@media only screen and (max-width: 1000px) {
			display: none;
		}
	}

	/* top left stars */
	.star1 {
		top: 23%;
		left: 15%;
		width: 2.6rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			width: 1.4rem;
			top: 12%;
			left: 15%;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}

	.star2 {
		top: 18%;
		left: 10%;
		width: 1.9rem;
		animation: twinkle 2s infinite;
		animation-delay: 0.2s;

		@media only screen and (max-width: 1400px) {
			width: 1.4rem;
			top: 17%;
			left: 12%;
		}

		@media only screen and (max-width: 800px) {
			width: 1rem;
		}
	}

	/* top right star */
	.star3 {
		top: 14%;
		right: 10%;
		animation: twinkle 2s infinite;
		animation-delay: 0.4s;

		@media only screen and (max-width: 1400px) {
			width: 1.5rem;
			top: 15%;
			right: 12%;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}

	/* bottom left stars */
	.star4 {
		bottom: 2%;
		left: 2%;
		width: 2.4rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			bottom: 20%;
			left: 15%;
			width: 1.8rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}

	.star5 {
		bottom: 10%;
		left: 10%;
		width: 1.9rem;
		animation: twinkle 2s infinite;
		animation-delay: 0.2s;

		@media only screen and (max-width: 1400px) {
			width: 1.5rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1rem;
		}
	}

	/* bottom right stars */
	.star6 {
		bottom: 50%;
		right: 5%;
		width: 2.3rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			bottom: 30%;
			right: 20%;
			width: 1.2rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1rem;
		}
	}

	.star7 {
		bottom: 7%;
		right: 20%;
		width: 1.9rem;
		animation: twinkle 2s infinite;
		animation-delay: 0.1s;

		@media only screen and (max-width: 1400px) {
			bottom: 10%;
			right: 8%;
			width: 1.5rem;
		}

		@media only screen and (max-width: 800px) {
			width: 1.3rem;
		}
	}
}
