#projects {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../../assets/background.jpg);
	background-position: center;
	background-size: contain;
}

// Page title
#projects h1 {
	padding: 4rem 0 1rem 0;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

#projects .project-section {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 768px) {
	#projects .project-section {
		padding: 0 4rem;
	}
}

#projects .project-description {
	text-align: left;
}

#projects .projects-button {
	margin: 2rem 0;
	display: flex;
	justify-content: center;
	width: 100%;

	a, a:hover {
		color: white;
		text-decoration: none;
	}
}

// Exoplanetarium
#projects .exoplanetarium-title {
	width: 325px;
}

@media screen and (min-width: 768px) {
	#projects .exoplanetarium-title {
		width: 625px;
	}
}

#projects .exoplanetarium-description {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 2rem;
}

@media screen and (min-width: 768px) {
	#projects .exoplanetarium-description {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4rem;
	}
}

#projects .exoplanetarium-preview {
	border: 1px solid white;
	border-radius: 0.5rem;
}