.footer-section {
    background: black;
    text-align: left;

    h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 30px;
        margin-bottom: 1.25rem;
        color: white;
    }

    p {
        margin-bottom: 2rem;
    }

    .content-container {
        display: flex;
        max-width: 1189px;
        margin: 0 auto;
        padding: 4rem 2rem;
    }

    .subscription-form {
        border-radius: 3px;
        height: 2.5rem;
        input {
            height: 100%;
            max-width: 502px;
            width: 50%;
            padding: 0.5rem 1.5rem;
            &::placeholder {
                letter-spacing: 3px;
            }
        }
        button {
            padding: 5px 10px;
            border: solid 1px white;
            background: #7000ff;
            color: white;
            height: 100%;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 3px;
        }
    }

    .left-container {
        flex: 4;
    }
    .right-container {
        flex: 1;
        ul {
            list-style: none;
            text-transform: uppercase;
            li {
                line-height: 2;
            }
        }
    }
}
