/**
Note: No media queries were added for tablet layouts. Desktop footer looks fine
on tablets. Can be updated per UX team as necessary.
 */
.footer-section {
	background: black;
	text-align: center;
	width: auto;
	@media (min-width: 766px) {
		text-align: left;
	}

	a {
		color: #a0a0aa;
	}

	a:hover {
		color: #7000ff;
	}

	h2 {
		font-family: "Poppins", sans-serif;
		font-weight: 200;
		font-style: italic;
		font-size: 21px;
		margin-bottom: 1.25rem;
		color: white;
		@media (min-width: 766px) {
			font-size: 30px;
		}
	}

	p {
		padding-bottom: 1rem;
		@media (min-width: 766px) {
			display: inline-block;
		}
	}

	.content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		max-width: 1189px;
		margin: auto;
		padding: 2rem;
		@media (min-width: 766px) {
			flex-direction: row;
			padding: 4rem;
		}
	}

	.left-container {
		flex: 4;
		padding-bottom: 1rem;
		width: 100%;
		@media (min-width: 766px) {
			padding-bottom: 0;
		}
	}

	.right-container {
		flex: 1;
		text-align: left;

		ul {
			list-style: none;
			text-transform: uppercase;
			text-align: center;
			@media (min-width: 766px) {
				text-align: left;
				padding-left: 3.1rem;
			}

			li {
				line-height: 2rem;
			}
		}
	}

	.socialmedia-container {
		text-align: center;
		padding-bottom: 2rem;
		color: #d9d9d9;
		font-family: Lato, sans-serif;
		letter-spacing: 1px;

		a {
			margin: 0 10px;
		}

		h5 {
			width: 70%;
			color: #d9d9d9;
			max-width: 1100px;
			margin: 10px 0 0.5rem 0;
			@media (min-width: 766px) {
				width: 90%;
			}
		}
	}
}
