/**
Note: No media queries were added for tablet layouts. Desktop footer looks fine
on tablets. Can be updated per UX team as necessary.
 */
.footer-section {
	background: black;
	text-align: center;
	width: auto;
	@media (min-width: 766px) {
		text-align: left;
	}

	a {
		color: var(--text);
	}

	a:hover {
		color: var(--neon-purple);
	}

	.content-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		padding: 2rem;
	}

	.left-container {
		@media (min-width: 766px) {
			padding-bottom: 0;
		}
	}

	.right-container {
		ul {
			list-style: none;
			text-transform: uppercase;
			text-align: right;
			@media (min-width: 766px) {
				text-align: right;
				padding-left: 3.1rem;
			}

			li {
				line-height: 2rem;
			}
		}
	}

	.socialmedia-container {
		text-align: center;
		padding-bottom: 2rem;
		color: var(--text);
		font-family: Lato, sans-serif;
		letter-spacing: 1px;

		a {
			margin: 0 10px;
		}

		p {
			width: 70%;
			color: var(--text);
			max-width: 1100px;
			margin: 10px 0 0.5rem 0;
			@media (min-width: 766px) {
				width: 90%;
			}
		}
	}
}
