.podcast-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	width: 80%;
	margin: auto;
	padding: 1rem;
}

.info-box {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 2rem;
	align-items: flex-start;
}

.info-box p h2 h4 {
	text-align: start;
}

.description {
	text-align: left;
}

.chip-container {
	display: flex;
	margin-bottom: .8rem;
}

.stream-button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding-left: .5rem;
	width: 11rem;
	height: 2.5rem;
	margin-right: 0.5rem;
	background: #000000;
	border: 2px solid #a6a6a6;
	border-radius: 8px;
	font-size: x-small;
}

.stream-button div {
	line-height: .5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.stream-button p {
	color: white;
	line-height: 1;
	margin-left: 1rem;
}