.page-wrap {
	max-width: 80%;
	margin: 0 auto;
}

.page-description {
	text-align: center;
	margin: 3rem 0 3rem 0;

	p:first-child {
		font-size: 1.8rem;
	}

	p {
		margin: 1rem;
	}

	@media (min-width: 766px) {
		p:first-child {
			font-size: 2.3rem;
		}

		p {
			font-size: 1.5rem;
		}
	}
}

.search-bar {
	max-width: 80%;
	margin-bottom: 1rem;
}

.chip-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 3rem;
}

.podcast-container {
	p {
		font-size: 1.5rem;
		padding-bottom: 2rem;
	}

	img {
		width: 300px;
		margin: 0 auto;
		padding-bottom: 2rem;
	}
}

.fallback-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 2rem 0;

	p {
		font-size: 2rem;
		margin: 0;
	}

	img {
		width: 300px;
		margin: 0;
	}
}