.podcast-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	width: 80%;
	margin: auto;
}

.info-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem;
    align-items: flex-start;
}

.info-box p {
    text-align: start;
}
