.page-wrap {
	margin: 0 30vmin 0 30vmin;
}

.page-description {
	text-align: left;
	margin: 3rem 0 3rem 0;
	align-content: center;
	justify-content: center;
	text-align: center;

	h3 {
		margin: 1rem;
	}

	p {
		margin: 1rem;
	}
}

.bold-text {
	font-weight: bold;
	font-size: 26px;
}

.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

.chip-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5rem;
}
