:root {
	--donate-success-width: 917px;
}

#donate-success-wrapper {
	padding: 2rem 1rem;
}

.donate-success-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0;

	@media (min-width: 1200px) {
		margin-top: 2rem;
	}
}

.donate-subtext {
	position: relative;
	max-width: var(--donate-success-width);
	margin: 0 auto;
	text-align: center;
}

// rocket logo placement
.icon-container-success {
	img {
		height: 23rem;
		width: 19rem;
	}
	display: none;

	@media (min-width: 1500px) {
		display: flex;
		justify-content: center;
		transform: translate(calc(-0.55 * var(--donate-success-width)), 2rem);
	}
}

// placing plus icons
.star_success_icon {
	position: absolute;
	display: none;

	@media (min-width: 1250px) {
		display: block;
	}
}

.star1_success {
	top: -2rem;
	left: -10vw;
}

.star2_success {
	right: -10vw;
}

.star3_success {
	top: -8rem;
	right: -11.5vw;
}
