.glossary-results-wrapper {
    max-width: 1400px;
    margin: 0 auto auto auto;
    width: 85%;
    font-family: Roboto, serif;
    overflow-wrap: break-word;
}
.glossary-term-container {
    padding: 1em 1em;
}
#glossary-term-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#glossary-term-name {
    padding: 1em;
    font-size: 2.5em;
}
.glossary-term {
    text-align: center;
    padding: .5em;
    font-size: 1.5em;
    color: white;
    background: black;
}
.glossary-term:hover {
    background: #7000FF;
    cursor: pointer;
}
#glossary-term-def {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 3em;
    max-width: 60vw;
    height: 40vh;
    margin: auto;
}
#glossary-button-container {
    display: flex;
    justify-content: flex-start;
}
#glossary-filter-button-A-J {
    color: #7000FF;
    border-bottom: 2px solid #7000FF;
}
.glossary-filter-button {
    margin: .5em;
    font-size: 2.5em;
    border-bottom: 2px solid white;
}
.glossary-filter-button:hover {
    /*color: #7000FF;*/
    /*border-bottom: 2px solid #7000FF;*/
    cursor: pointer;
}