#glossary-wrapper {
	background-color: #f2f7fc;
}

.glossary-results-wrapper {
	max-width: 1400px;
	margin: 0 auto auto auto;
	width: 90%;
	font-family: Roboto, serif;
	overflow-wrap: break-word;
	color: black;
}

#glossary-term-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#glossary-term-name {
	padding: 1em;
	font-size: 1.75em;
	@media (min-width: 766px) {
		font-size: 2.5em;
	}
}

.glossary-term {
	margin: 0.4em;
	text-align: center;
	padding: 0.5em;
	font-size: 1em;
	color: white;
	background: black;
	@media (min-width: 766px) {
		font-size: 1.5em;
	}
}

.glossary-term:hover {
	background: #7000ff;
	cursor: pointer;
}

#glossary-term-def {
	text-align: center;
	font-size: 1em;
	padding-bottom: 3em;
	max-width: 60vw;
	height: 100%;
	margin: auto;
	@media (min-width: 767px) {
		font-size: 1.5em;
	}

	#glossary-term-image-wrapper {
		img {
			margin: 2em auto;
		}
	}

	#glossary-term-image-source-wrapper {
		text-align: left;
		font-size: 0.55em;
		margin: -3em auto 0;
		@media (min-width: 767px) {
			width: 600px;
		}

		#glossary-term-image-source {
			color: black;
		}
	}
}

#glossary-button-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	padding-bottom: 2em;
	.search-bar #searchInputs input {
		width: 15rem;
		height: 3rem;
	}
	.search-bar #searchInputs #search-icon-div {
		height: 3rem;
	}
	#glossary-button-wrapper {
		display: flex;
	}
	@media (min-width: 767px) and (max-width: 1023px) {
		flex-direction: row;
		justify-content: space-between;
		.search-bar #searchInputs input {
			width: 15rem;
			height: 4rem;
		}
		.search-bar #searchInputs #search-icon-div {
			height: 4rem;
		}
	}
	@media (min-width: 1024px) {
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 3em;
		.search-bar #searchInputs input {
			width: 20rem;
			height: 4rem;
		}
		.search-bar #searchInputs #search-icon-div {
			height: 4rem;
		}
	}
}

#glossary-filter-button-A-J {
	color: #7000ff;
	border-bottom: 2px solid #7000ff;
}

.glossary-filter-button {
	color: black;
	margin: 0.5em;
	font-size: 1.75em;
	border-bottom: 2px solid black;
	@media (min-width: 766px) {
		font-size: 2.5em;
	}
}

.glossary-filter-button:hover {
	cursor: pointer;
}
