#glossary-wrapper {
	background-color: #1c1a22;
}

.glossary-results-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 80%;
	overflow-wrap: break-word;
	color: white;
	@media (max-width: 766px) {
		max-width: 95vw;
	}
}

#glossary-term-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.searchbar-container {
	width: 50%;
	margin: 1em 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.search-icon-div img {
		width: 1.5em;
		margin: 0 30px;
	}

	@media (max-width: 800px) {
		width: 100%;
	}
}

#glossary-term-name {
	font-family: "Poppins";
	padding: 1em;
	font-size: 1.75em;
	@media (min-width: 766px) {
		font-size: 2.5em;
	}
}

.glossary-term {
	margin: 0.4em;
	text-align: center;
	padding: 0.5em;
	font-size: 1em;
	color: white;
	background: black;
	border-radius: 6px;
	@media (min-width: 766px) {
		font-size: 1.5em;
	}
}

.glossary-term:hover {
	background: var(--neon-purple);
	cursor: pointer;
}

#glossary-term-def {
	color: white;
	padding-bottom: 3em;
	max-width: 60vw;
	height: 100%;
	margin: auto;

	@media (min-width: 767px) {
		font-size: 1.5em;
	}

	@media (max-width: 820px) {
		max-width: 80vw;
	}

	p {
		color: rgb(224, 224, 224);
		text-align: center;
		font-size: 0.9em;
		line-height: 2;
	}

	#glossary-term-image-wrapper {
		img {
			margin: 2em auto;
		}
	}

	#glossary-term-image-source-wrapper {
		text-align: left;
		font-size: 0.55em;
		margin: -3em auto 0;
		@media (min-width: 767px) {
			width: 600px;
		}

		#glossary-term-image-source {
			color: black;
		}
	}
}

#glossary-button-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2em;

	#glossary-button-wrapper {
		display: inline-block;
	}

	@media (max-width: 900px) {
		flex-direction: column;
		justify-content: space-between;
	}
}

#glossary-filter-button-A-J {
	color: var(--neon-purple);
	border-bottom: 2px solid var(--neon-purple);
}

.glossary-filter-button {
	color: var(--text);
	margin: 0 0.5em;
	font-size: 1.75em;
	border-bottom: 2px solid lightgray;
	@media (min-width: 766px) {
		font-size: 2.5em;
	}
}

.glossary-filter-button:hover {
	cursor: pointer;
}
