#glossary {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 116vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../../assets/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}

// Page title
#glossary h1 {
	padding: 4rem 0 1rem 0;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

// Padding adjustment on desktop (main) nav vs. mobile (hamburger) nav
@media screen and (min-width: 1024px) {	
	#glossary h1 {
		padding: 8rem 0 1rem 0;
	}
}

// Page jumps
.glossary-nav-container {
	display: flex;
	justify-content: center;
}

.glossary-nav {
	margin: 0 1rem 1rem 1rem;
	padding: 0.25rem 1.5rem;
	background-color: #C08FFFAD;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

@media screen and (min-width: 768px) {
	.glossary-nav {
		margin: 0 4rem 1rem 4rem;
		padding: 0.25rem 1.75rem;
		gap: 2.5rem;
	}
}

.glossary-nav p {
	margin: 0;
	font-size: 1.25rem;
	color: white;
}

.glossary-nav a, .glossary-nav a:visited {
	font-size: 1.25rem;
	color: white;
}

#glossary .inner-scroll {
	overflow: auto;
	flex-grow: 1;
	scroll-behavior: smooth;
	gap: 1rem;
}

// Glossary cards
#glossary .alphabetical-section {
	display: grid;
	gap: 1rem;
}

#glossary .alphabetical-section h2 {
	margin: 0 1rem;
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	#glossary .alphabetical-section h2 {
		margin: 0 4rem;
	}
}

#glossary .alphabetical-section .glossary-entry {
	margin: 0 1rem 1rem 1rem;
	display: grid;
	padding: 1rem;
	background-color: #C08FFFAD;
}

@media screen and (min-width: 768px) {
	#glossary .alphabetical-section .glossary-entry {
		margin: 0 4rem 1rem 4rem;
	}
}

#glossary .glossary-entry h3 {
	font-weight: bold;
}

#glossary .glossary-entry h3, #glossary .glossary-entry p{
	margin: 0;
	font-size: 1rem;
	color: white;
	text-align: left;
}