.glossary-results-wrapper {
    max-width: 1200px;
    margin: 2em auto;
    width: 85%;
    font-family: Roboto, serif;
    padding-top: 2em;
    overflow-wrap: break-word;
}
#glossary-title {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 1em;
}
.glossary-term-container {
    padding: 1em 1em;
}
.glossary-term {
    text-align: left;
    font-weight: bold;
    font-size: 1.25em;
}
.glossary-term-def {
    text-align: left;
}