#glossary {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0 1rem;
	box-sizing: border-box;
	background-image: url(../../assets/background.jpg);
	background-position: center;
	background-size: contain;
}

@media screen and (min-width: 768px) {
	#glossary {
		padding: 0 4rem;
	}
}

// Page title
#glossary h1 {
	padding: 15vh 0 4vh 0;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

#glossary .scrollable {
	display: grid;
	gap: 1rem;
}

// Glossary card
#glossary .glossary-entry {
	display: grid;
	gap: 0.5rem;
	padding: 1rem;
	background-color: #C08FFFAD;
}

#glossary .glossary-entry h3 {
	font-weight: bold;
}

#glossary .glossary-entry h3, #glossary .glossary-entry p{
	margin: 0;
	font-size: 1rem;
	color: white;
	text-align: left;
}
