.searchInputs {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.search-bar-div {
	display: inline-block;
}

.search-bar input {
	background-color: white;
	border: 0;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 18px;
	padding: 15px;
	height: 60px;
	width: 300px;
}

.searchIcon {
	height: 60px;
	width: 50px;
	background-color: white;
	display: grid;
	place-items: center;
}

.dataResult {
	display: center;
	margin-top: 5px;
	width: 300px;
	height: 200px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
	display: none;
}

.dataResult .dataItem {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	color: black;
}

.dataItem a {
	margin-left: 10px;
}
a {
	text-decoration: none;
}

a:hover {
	background-color: lightgrey;
}

#clearBtn {
	cursor: pointer;
}
