.images {
	//image container
	width: 100%;
	position: relative;
	flex: 5;
	overflow: hidden;
	background: black;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		visibility: hidden;
		opacity: 0;
		transform: translateX(100%);
		transition: opacity 1s, transform 1s;

		&.show-image {
			transform: translateX(0);
			visibility: visible;
			opacity: 1;
			transition: opacity 1s, transform 1s;
		}
	}

	button {
		cursor: pointer;
	}

	// Left and Right Buttons
	.btn-slide-true {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		// position of buttons
		background: #f1f1f1;
		border: 1px solid rgba(34, 34, 34, 0.287);
		position: absolute;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.btn-slide-false {
		display: none;
	}

	// Left and right svg's
	.btn-slide-true img {
		width: 15px;
		height: 15px;
		top: 6px;
		left: -7px;
		pointer-events: none;
		visibility: visible !important;
		opacity: 1;
	}

	.prev {
		top: 50%;
		left: 20px;
		transform: translateY(-60%);
	}

	.next {
		top: 50%;
		right: 20px;
		transform: translateY(-60%);
	}

	.header {
		text-align: left !important;
	}

	.slider-dots-true {
		position: absolute;
		width: 100%;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);

		button {
			//dots
			width: 15px;
			height: 15px;
			border-radius: 50%;
			padding: 0;
			background: rgba(0, 0, 0, 0.171);
			border: solid white 2px;

			&:not(:last-of-type) {
				margin-right: 1rem;
			}
		}
	}

	.slider-dots-false {
		display: none;
	}

	.button {
		width: 70px;
		height: 70px;
		background: white;
		border: none;
		position: absolute;
		visibility: hidden;

		&.prev-button {
			left: 0;
			bottom: 50%;
			transform: translateY(50%);
		}

		&.next-button {
			right: 0;
			bottom: 50%;
			transform: translateY(50%);
		}

		&.show {
			visibility: visible;
		}
	}
}
