:root {
    --content-width: 1600px;
    --btn-background: #370080;
    --btn-border: #7000FF;
    --padding: 4rem;
}

.donate-title {
    font-size: 3rem;
	color: white;
}

.donate-button {
    cursor: pointer;
    background-color: var(--btn-background);
    border: 4px solid var(--btn-border);
    margin: 0 auto;
    padding: 1rem 6rem;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

.section-background {
    background-image: url("./assets/spacelab-donate-background.png");
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
}
