:root {
    --conatiner-height: 1048px;
}

#title-container {
    margin-top: var(--navbar-height-desktop);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: left;
        
        .title-section-form {
            flex-basis: 60%;
            padding: 0 5rem;
            margin-top: 5rem;
            word-wrap: break-word;
            white-space: normal;

            .form-title {
                font-size: 5.125rem;
                line-height: 1.4;
                letter-spacing: 2px;
            }

            .form-sub-title {
                font-family: "Lato", sans-serif;
                font-size: 2.18rem;
                line-height: 1.2;
                margin-bottom: 3rem;
            }

            .donate-button{
                margin: 0;
            }
        }

        .title-image-container {
            flex: 40%;
            
            img {
                height: calc(90vh - var(--navbar-height-desktop));
                object-fit: cover;
            }
        }
    }

    .icon-container-1{
        display: none;

        @media (min-width: 1600px) {
            display: flex;
            transform: translate(-10rem, -25rem);
            margin-bottom: -30rem;
        }
    }
    
}