#title-container {
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0;

	@media (min-width: 1024px) {
		margin-top: var(--navbar-height-desktop);
	}

	.title-content {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-evenly;
		flex-wrap: wrap;

		@media (min-width: 1024px) {
			flex-direction: row;
			text-align: left;
		}

		.title-section-form {
			flex-basis: 60%;
			padding: 0 1rem;
			margin-top: 1rem;
			word-wrap: break-word;
			white-space: normal;

			@media (min-width: 1024px) {
				padding: 0 5rem;
				margin-top: 5rem;
			}

			.subtitle-container {
				margin-right: 0;

				@media (min-width: 1024px) {
					margin-right: 5rem;
				}
			}

			.form-title {
				font-size: 1.69rem;
				line-height: 1.48;
				font-weight: 600;

				@media (min-width: 767px) {
					font-size: 5.125rem;
					line-height: 1.4;
					letter-spacing: 2px;
					font-weight: 500;
				}

				@media (min-width: 768px) and (max-width: 1024px) {
					font-size: 3.25rem;
					font-weight: 600;
				}
			}

			h2,
			h4 {
				margin-bottom: 1rem;

				@media (min-width: 767px) {
					margin-bottom: 3rem;
				}
			}

			.donate-button {
				@media (min-width: 1024px) {
					margin: 0;
				}
			}
		}

		.title-image-container {
			flex: 40%;

			img {
				width: 100%;
				height: calc(50vh - var(--navbar-height-desktop));
				object-position: center;

				@media (min-width: 1024px) {
					height: calc(90vh - var(--navbar-height-desktop));
					object-fit: cover;
				}
			}
		}
	}

	.icon-container-1 {
		display: none;

		@media (min-width: 1600px) {
			display: flex;
			transform: translate(-10rem, -25rem);
			margin-bottom: -30rem;
		}
	}
}
