:root {
    --conatiner-height: 1048px;
}

#title-container {
    margin-top: var(--navbar-height);
    padding-bottom: 5rem;
    position: relative;

    .title-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: left;
        
        .title-section-form {
            flex-basis: 60%;
            padding-left: 4rem;
            margin-top: 5%;
            word-wrap: break-word;
            white-space: normal;

            h2 {
                font-size: clamp(4rem, 3rem, 2rem);
                letter-spacing: clamp(3px, 2px,1px);
 
                // @media (max-width: 766px) {
                //     font-size: 2rem;
                //     letter-spacing: 1px;
                // }
            }

            .form-sub-title {
                font-family: "Lato", sans-serif;
                font-size: 2rem;
                margin-bottom: 4rem;
                line-height: 1.5;

                @media screen and (min-width: 766px) {
                    font-size: 1.4rem;
                }
            }

            .donate-button{
                margin: 0;
            }
        }

        .title-image-container {
            flex: 40%;
            
            img {
                min-height: calc(90vh - var(--navbar-height));
                object-fit: cover;
            }
        }
    }

    .icon-container{
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 20vw;

        @media (min-width: 1400px) {
            left: calc(100vw/3);
        }
    }
    
}