.member-card {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	position: relative;
	cursor: pointer;

	.member-card-modal-overlay {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1;

		&.show {
			display: block;
		}
	}

	.member-card-details-container {
		display: none;
		background: linear-gradient(133deg, rgba(132,89,176,1) 0%, rgba(42,15,62,1) 60%);
		color: #ffffff;
		position: fixed; /* could be fixed */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); /* Center the container on the page */
		height: 21rem;
		width: 35.5rem;
		border-radius: 3%;

		.member-card-text-name, .member-card-text-title {
			text-align: left;
			margin-left: 1.5rem;
		}

		.member-card-text-quote {
			font-size: 0.75rem;
			color: #ffffff;
			margin: 1.5rem;
			text-align: left;
		}

		.member-card-link-container {
			position: absolute;
			width: 100%;
			bottom: 0;
			margin-bottom: 2rem;

			a {
				height: 2rem;
				width: 2rem;
				margin: 1rem;
			}
		}
	}


	img {
		height: 21rem;
		width: 17.5rem;
		border-radius: 3%;
		object-fit: cover;
		background-size: auto;
	}

	&-text {
		line-height: 30px;
		word-wrap: break-word;

		&-name {
			color: #ffffff;
			margin-top: 0.5rem;
			font-weight: bold;
		}

		&-title {
			color: #ffffff;
			margin-top: 0.25rem;
			font-size: 0.75rem;
		}
	}
}
