.member-card {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	position: relative;

	.member-card-details-container {
		display: none;
		background: linear-gradient(142deg, rgba(120,70,169,1) 4%, rgba(0,0,0,1) 99%, rgba(4,4,4,1) 99%);
		position: fixed; 
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 21rem;
		width: 35.5rem;
		border-radius: 3%;
		flex-direction: row;
		z-index: 1;

		&.show {
			display: flex !important;
		}

		.member-card-close {
			text-align: right;
			margin: 1rem;
			top:0%;
			right:0%;
			position: fixed;
			cursor: pointer;
		}

		img.member-card-details-image {
			height: 17rem;
			width: 15.5rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
			margin-left: 1.4rem;
			margin-right: 1.3rem;
			cursor: default;
		}

		.member-card-text-name, .member-card-text-title {
			text-align: left;
		}

		.member-card-text-name {
			margin-top: 3rem;
		}

		.member-card-text-title {
			margin-bottom: 2rem;
		}

		.quote-container {
			height: 8rem;
			overflow: auto;
		}

		.member-card-text-quote {
			font-size: 0.75rem;
			color: #ffffff;
			text-align: left;
			margin-right: 1.2rem;
			overflow: auto;
		}

		.member-card-link-container {
			position: absolute;
			bottom: 0;
			margin-bottom: 2rem;

			a {
				height: 2rem;
				width: 2rem;
				margin-right: 1.3rem;
			}
		}
		
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}

	img {
		height: 21rem;
		width: 17.5rem;
		border-radius: 3%;
		object-fit: cover;
		background-size: auto;
		cursor: pointer;
	}

	&-text {
		line-height: 30px;
		word-wrap: break-word;

		&-name {
			color: #ffffff;
			margin-top: 0.5rem;
			font-weight: bold;
			margin-bottom: 0rem;
		}

		&-title {
			color: #ffffff;
			margin-top: 0.25rem;
			font-size: 0.75rem;
		}
	}
}

@media screen and (max-width: 591px) {
	.member-card-details-container {
		height: 38rem !important;
		width: 20rem !important; 
		flex-direction: column !important;
	}

	.member-card-close {
		margin: .5rem !important; 
	}

	img.member-card-details-image {
		margin-top: 3rem !important;
		margin-left: 2.2rem !important;
		margin-right: 0rem !important;
	}

	.member-card-details-container {
		.member-card-text-name {
			margin-top: 0rem !important;
		}
		.member-card-text-name, .member-card-text-title, .member-card-text-quote {
			text-align: center !important;
		}

		.member-card-text-title {
			margin-bottom: 1.5rem !important;
		}
	}

	.member-card-link-container {
		margin-top: 0rem !important;
		width: 100% !important;
		bottom: unset !important;
	}
}