.search-bar {
	display: inline-block;
	width: 100%;
}

.highlighted {
	border: 2px solid #7000ff !important;
	border-radius: 50px;
}

.searchInputs {
	display: flex;
	height: 2.5rem;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 50px;

	& input {
		color: lightgray;
		background-color: transparent;
		font-size: 1rem;
		height: 2.5rem;
		width: 70rem;
		border: none;
		// // without borders the input text would shift when clicking on box / in focus

		&:focus {
			outline: none;
			border: none;
		}
	}

	& .search-icon-div {
		display: grid;
		place-content: center;
		height: 2.5rem;
		width: 4rem;
		outline: none;
		cursor: pointer;

		& img {
			width: 1.5rem;
			height: 1.5rem;
		}

		& .clear-button {
			cursor: pointer;
			height: 0.8rem;
			width: 0.8rem;
		}
	}
}

.search-results-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: absolute;
	margin-top: 5px;
	margin-left: 25px;
	width: 75%;
	height: 12rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	border-radius: 5px;

	& .search-result {
		display: flex;
		justify-content: left;
		align-items: center;
		padding-left: 1rem;
		min-height: 2rem;
		color: black;
	}

	& .search-result:hover,
	.search-result.selected-search-result {
		background-color: rgb(241, 241, 241);
		cursor: pointer;
		font-style: italic;
	}
}
