.navigation-button {
    font-size: 0.875em;
    padding: 10px;
    color: var(--pink);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 2px solid var(--pink);
    margin: 3rem auto;
}

.navigation-button:hover {
    color: white;
    background: #7000ff;
}
