:root {
    --content-container: 1189px;
}

.donate-section {
    font-family: "Poppins", sans-serif;
    padding-bottom: 5em;
    
    @media (max-width: 766px) {
        padding-bottom: 3em;
    }
    .donatation-content {
    /* Donation content */
    position: absolute;
    width: 1376px;
    height: 805px;
    left: 32px;
    top: 658px;

    background: #FFFFFF;
    }

    .frame-229 {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    
        position: absolute;
        width: 451px;
        height: 412px;
        left: 115px;
        top: 123px;
    }

    .title {
    width: 173px;
    height: 73px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 136px;
    /* or 290% */
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .spacelab-paragraph {
        width: 451px;
        height: 180px;
        /* SpaceLab/Paragraph 03/Desktop */
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 36px;
        /* or 144% */
        display: flex;
        align-items: center;
        color: #000000;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .support-content {
        width: 451px;
        height: 127px;
        /* SpaceLab/Paragraph 02/Desktop */
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        /* or 119% */
        display: flex;
        align-items: center;
        color: #000000;
        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .payment-options {
        /* Auto layout */
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    
        position: absolute;
        width: 608px;
        height: 345px;
        left: 656px;
        top: 126px;
    }

    .frame-174 {
        /* Auto layout */
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    
        width: 608px;
        height: 96px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .frame-172 {
        /* Frame 172 */
        width: 592px;
        height: 69px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .frame-170 {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 40px;
    
        position: absolute;
        width: 572px;
        height: 54px;
        left: 0px;
        top: 0px;
    }

    .frame-168 {
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 16px;
    
        width: 165px;
        height: 54px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .frame-169 {
        box-sizing: border-box;
        
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
    
        width: 34px;
        height: 34px;
    
        background: #FFFFFF;
        /* SpaceLab/Primary/600 */
    
        border: 1px solid #5700C6;
        border-radius: 16px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .step-1 {
        /* 1 */
        
        
        width: 7px;
        height: 27px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.25em;
    
        /* SpaceLab/Primary/600 */
    
        color: #5700C6;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .amount-1 {
    width: 95px;
    height: 33px;

    /* SpaceLab/ Heading /H2-Mobile/Semi Bold */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    /* identical to box height, or 143% */

    text-align: center;

    /* SpaceLab/Primary/600 */

    color: #5700C6;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    }
}

.donate-button {
    font-size: 0.875em;
    padding: 10px;
    color: #7000ff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 2px solid #7000ff;
    margin: 3rem auto;
}

.donate-button:hover {
    color: white;
    background: #7000ff;
}