.accordion-container {
    width: 85vw;
    height: auto;

    &-heading {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #a0a0aa;
        height: 4.4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (min-width: 767px) and (max-width: 1023px) {
            justify-content: space-evenly;
        }

        @media (min-width: 1024px) {
            justify-content: center;
        }

        &-icon {
            color: #ba68c8;
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            @media (min-width: 1024px) {
              margin-left: 4rem;
          }
        }

        .icon-flip {
            transform: rotate(0deg);
        }
    }

    &-content {
        color: #7000ff;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;

        @media (min-width: 767px) and (max-width: 1023px) {
            flex-direction: row;
            justify-content: space-around;
        }

        @media (min-width: 1024px) {
            flex-direction: row;
        }
    }
    .accordion-open {
        height: auto;
        max-height: 1000px;
    }
}
