.p-call-to-action {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	z-index: 0;
	position: relative;

	h2 {
		font-family: "Poppins";
		font-size: 3.5rem;
		z-index: 3;
	}

	button {
		background-color: #4f1699;
		transition: 300ms ease-in-out;
		z-index: 3;

		&:hover {
			background-color: var(--neon-purple);
			cursor: pointer;
		}
	}

	.overlay {
		position: absolute;
		z-index: 0;
	}

	.green-planet {
		width: 14rem;
		left: 10%;
		top: 40%;
		transform: rotateY(180deg);

		@media only screen and (max-width: 1400px) {
			width: 8rem;
			top: 50%;
		}

		@media only screen and (max-width: 500px) {
			top: 50%;
			left: 5%;
			width: 5rem;
		}
	}

	/* right stars */
	.star1 {
		bottom: 10%;
		right: 10%;
		animation: twinkle 2s infinite;
		animation-delay: 0.1s;

		@media only screen and (max-width: 1400px) {
			bottom: 15%;
			right: 10%;
			width: 2.5rem;
		}
	}

	.star2 {
		bottom: 55%;
		right: 12%;
		width: 1.4rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			bottom: 50%;
			right: 10%;
			width: 1rem;
		}
	}

	.star3 {
		bottom: 40%;
		right: 18%;
		width: 1.7rem;
		animation: twinkle 2s infinite;
		animation-delay: 0.4s;

		@media only screen and (max-width: 1400px) {
			bottom: 40%;
			right: 18%;
			width: 1rem;
		}
	}

	/* left star */
	.star4 {
		top: 20%;
		left: 10%;
		width: 1.5rem;
		animation: twinkle 2s infinite;

		@media only screen and (max-width: 1400px) {
			top: 15%;
			left: 8%;
			width: 1.2rem;
		}

		@media only screen and (max-width: 800px) {
			top: 10%;
			left: 8%;
		}
	}
}
