.alumni {
	background-color: #fff;
	position: relative;

	h2,
	p {
		color: black;
		z-index: 3;
	}

	.alumni-carousel {
		position: relative;
		width: 60vw;
		z-index: 3;

		@media only screen and (max-width: 750px) {
			width: 85vw;
		}

		.alumni-carousel-slides {
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow: hidden;

			.alumni-carousel-slide {
				width: 100%;
				opacity: 0;
				transition: opacity 0.5s ease-in-out;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 6rem;

				@media only screen and (max-width: 1400px) {
					flex-direction: column;
					gap: 3rem;
				}

				@media only screen and (max-width: 800px) {
					margin: 0 0 2rem 0;
				}

				img {
					width: 20rem;
					height: auto;

					@media only screen and (max-width: 800px) {
						width: 18rem;
					}
				}

				&.active {
					opacity: 1;
					position: absolute;
				}

				.text-content {
					display: flex;
					flex-direction: column;
					gap: 3rem;

					p {
						text-align: left;
						font-size: 1.4rem;

						@media only screen and (max-width: 800px) {
							font-size: 1.2rem;
						}
					}

					.quote {
						color: #7c7c7c;
					}
				}
			}
		}

		.alumni-carousel-indicators {
			display: flex;
			justify-content: center;
			margin-top: 10px;

			.alumni-carousel-indicator {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: gray;
				margin: 0 5px;
				cursor: pointer;

				&.active {
					background-color: var(--neon-purple);
				}
			}
		}
	}

	.overlay {
		position: absolute;
		z-index: 0;
	}

	.purple-planet1 {
		top: 20%;
		left: 15%;
		width: 5rem;

		@media only screen and (max-width: 1400px) {
			top: 15%;
			left: 32%;
		}

		@media only screen and (max-width: 1000px) {
			left: 25%;
		}

		@media only screen and (max-width: 500px) {
			left: 14%;
			width: 4rem;
		}
	}

	.purple-planet2 {
		top: 14%;
		left: 30%;
		width: 9rem;

		@media only screen and (max-width: 1400px) {
			top: 15%;
			left: 58%;
		}

		@media only screen and (max-width: 1000px) {
			left: 70%;
		}

		@media only screen and (max-width: 500px) {
			width: 7rem;
			left: 65%;
		}
	}

	.purple-planet3 {
		bottom: 12%;
		left: 16%;
		width: 8rem;

		@media only screen and (max-width: 1400px) {
			width: 12rem;
			top: 32%;
			left: 28%;
		}

		@media only screen and (max-width: 1000px) {
			left: 7%;
		}

		@media only screen and (max-width: 500px) {
			left: 3%;
			top: 40%;
			width: 7rem;
		}
	}
}
